<a href="https://colab.research.google.com/github/Ranjitghadge/Python-Practice/blob/main/Daily_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create DataFrame 1: Employees
employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'Finance'],
    'Salary': [70000, 80000, 75000, 72000, 90000, 85000, 70000, 95000],
    'JoiningDate': pd.to_datetime(['2020-01-15', '2019-07-01', '2021-06-10', '2020-12-01', '2018-03-23', '2019-11-12', '2021-09-01', '2022-01-05'])
})

# Create DataFrame 2: Projects
projects = pd.DataFrame({
    'ProjectID': [101, 102, 103, 104, 105],
    'ProjectName': ['Alpha', 'Beta', 'Gamma', 'Delta', 'Epsilon'],
    'Department': ['IT', 'Finance', 'HR', 'IT', 'Finance'],
    'StartDate': pd.to_datetime(['2020-02-01', '2021-05-15', '2020-09-01', '2021-11-01', '2022-02-20']),
    'EndDate': pd.to_datetime(['2020-10-15', '2021-11-20', '2021-03-31', '2022-03-10', '2022-07-25'])
})

# Display DataFrames
print("Employees DataFrame:")
print(employees)

print("\nProjects DataFrame:")
print(projects)

Employees DataFrame:
   EmployeeID     Name Department  Salary JoiningDate
0           1    Alice         HR   70000  2020-01-15
1           2      Bob         IT   80000  2019-07-01
2           3  Charlie         IT   75000  2021-06-10
3           4    David         HR   72000  2020-12-01
4           5      Eve    Finance   90000  2018-03-23
5           6    Frank    Finance   85000  2019-11-12
6           7    Grace         IT   70000  2021-09-01
7           8   Hannah    Finance   95000  2022-01-05

Projects DataFrame:
   ProjectID ProjectName Department  StartDate    EndDate
0        101       Alpha         IT 2020-02-01 2020-10-15
1        102        Beta    Finance 2021-05-15 2021-11-20
2        103       Gamma         HR 2020-09-01 2021-03-31
3        104       Delta         IT 2021-11-01 2022-03-10
4        105     Epsilon    Finance 2022-02-20 2022-07-25

In [5]:
merge = pd.merge(employees,projects, how='left',on='Department')
print(merge)

    EmployeeID     Name Department  Salary JoiningDate  ProjectID ProjectName  \
0            1    Alice         HR   70000  2020-01-15        103       Gamma
1            2      Bob         IT   80000  2019-07-01        101       Alpha
2            2      Bob         IT   80000  2019-07-01        104       Delta
3            3  Charlie         IT   75000  2021-06-10        101       Alpha
4            3  Charlie         IT   75000  2021-06-10        104       Delta
5            4    David         HR   72000  2020-12-01        103       Gamma
6            5      Eve    Finance   90000  2018-03-23        102        Beta
7            5      Eve    Finance   90000  2018-03-23        105     Epsilon
8            6    Frank    Finance   85000  2019-11-12        102        Beta
9            6    Frank    Finance   85000  2019-11-12        105     Epsilon
10           7    Grace         IT   70000  2021-09-01        101       Alpha
11           7    Grace         IT   70000  2021-09-01        104       Delta
12           8   Hannah    Finance   95000  2022-01-05        102        Beta
13           8   Hannah    Finance   95000  2022-01-05        105     Epsilon

    StartDate    EndDate
0  2020-09-01 2021-03-31
1  2020-02-01 2020-10-15
2  2021-11-01 2022-03-10
3  2020-02-01 2020-10-15
4  2021-11-01 2022-03-10
5  2020-09-01 2021-03-31
6  2021-05-15 2021-11-20
7  2022-02-20 2022-07-25
8  2021-05-15 2021-11-20
9  2022-02-20 2022-07-25
10 2020-02-01 2020-10-15
11 2021-11-01 2022-03-10
12 2021-05-15 2021-11-20
13 2022-02-20 2022-07-25

In [9]:
employees[(employees['Department'] == 'IT') & (employees['Salary']>75000)]

   EmployeeID Name Department  Salary JoiningDate
1           2  Bob         IT   80000  2019-07-01

In [10]:
employees.groupby('Department')['Salary'].mean()

Department
Finance    90000.0
HR         71000.0
IT         75000.0
Name: Salary, dtype: float64

In [6]:
employees.head()

   EmployeeID     Name Department  Salary JoiningDate
0           1    Alice         HR   70000  2020-01-15
1           2      Bob         IT   80000  2019-07-01
2           3  Charlie         IT   75000  2021-06-10
3           4    David         HR   72000  2020-12-01
4           5      Eve    Finance   90000  2018-03-23

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  if num >= 2:
    for i in range (2,int((num)**0.5)+1):
      if num % i == 0:
        return False
    else:
      return True
  else:
    return True


num = int(input("Enter a num: "))

if is_prime(num):
  print(num,"is a prime num")
else:
  print(num,"is not a prime num")

Enter a num: 5
5 is a prime num

In [ ]:
a = '12344'

list(a)

len(a)

5

In [ ]:
num = int(input("Enter a number:- "))
total = 0
avg = 0
count = 0

while num != 0:
  total = total + num
  count = count + 1
  avg = total/(count)
  num = int(input("Enter a number:- "))

print(total)
print(round(avg,2))

Enter a number:- 3
Enter a number:- 4
Enter a number:- 6
Enter a number:- 7
Enter a number:- 0
20
5.0

In [ ]:
num = 0
l = []

while num != 25:
  for i in range(1,10000):
    if i % 2 != 0:
      l.append(i)
      num = num + 1
    if num == 25:
      break

print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
n = int(input("Enter number:- "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='-')
  print("\n")

Enter number:- 8
1-

1-2-

1-2-3-

1-2-3-4-

1-2-3-4-5-

1-2-3-4-5-6-

1-2-3-4-5-6-7-

1-2-3-4-5-6-7-8-

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n = int(input("Enter "))
num = 0
for i in range(0,n):
  for j in range(0,i+1):
    num = num + 1
    print(num,end = ' ')
  print("\n")

Enter 6
1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

16 17 18 19 20 21

In [ ]:
n1 = 24
n2 = 60

for i in range(n1,n2+1):
  for j in range(1,i):
      if i % j != 0:
        print(i,end=" ")
      break

In [ ]:
n = 5
for i in range(n,0,-1):
  print(i*" * ")

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *