<a href="https://colab.research.google.com/github/Ranjitghadge/Python-Practice/blob/main/Daily_Practice_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

15/7/23

LIST

In [2]:
A = [1, 2, 3, 4, 2, 5]

In [3]:
A[0]

1

In [5]:
A[0] = 0
print(A)

[0, 2, 3, 4, 2, 5]

In [7]:
#adding element

A.append(10)
print(A)

[0, 2, 3, 4, 2, 5, 5, 10]

In [8]:
#removing element
A.remove(10)
print(A)

[0, 2, 3, 4, 2, 5, 5]

In [9]:
#slicing
A[:3]

[0, 2, 3]

In [10]:
#check memner
print(6 in A)

False

In [11]:
#getting length
print(len(A))

7

In [12]:
#concanicate list
B = [21,22,23,24,25]

In [13]:
C = A + B

In [15]:
print(C)

[0, 2, 3, 4, 2, 5, 5, 21, 22, 23, 24, 25]

In [18]:
A.sort()
print(A)

[0, 2, 2, 3, 4, 5, 5]

In [19]:
A.reverse()
print(A)

[5, 5, 4, 3, 2, 2, 0]

In [20]:
A

[5, 5, 4, 3, 2, 2, 0]

In [22]:
A.count(5)

2

In [26]:
D = A.copy()

In [27]:
D

[5, 5, 4, 3, 2, 2, 0]

In [25]:
A

[5, 5, 4, 3, 2, 2, 0]

In [36]:
def totals(num):
  total = 0
  for i in A:
    total+=i
  return total

Result = totals(A)
print(Result)

21

In [42]:
def even(L):
  z = []
  for i in A:
    if i%2 == 0:
      z.append(i)
  return z


A = [4,2,3,4,5,6,7,8,1,5,4]
result = even(A)
print(result)

[4, 2, 4, 6, 8, 4]

In [ ]:
import pandas as pd

In [ ]:
A =  'Ranjit is Data Scientist'

In [ ]:
print(A[0])

R

In [ ]:
print(A[-1])

t

In [ ]:
print(A[5:0:-1])

tijna

In [ ]:
print(A[::-1])

tsitneicS ataD si tijnaR

In [ ]:
A[0] = 'A'

TypeError: ignored

In [ ]:
b = 'ranjit'
c = 'ghadge'

print(b+c)

In [ ]:
print(A.capitalize())

In [ ]:
A.title()

In [ ]:
A.upper()

In [ ]:
A.swapcase()

In [ ]:
A.count('R')

In [ ]:
A.find('R')

In [ ]:
A.split('R')

In [ ]:
''.join([b,c])

In [ ]:
import pandas as pd

data = {
    'Transaction_ID': [1001, 1002, 1003, 1004, 1005, 1006],
    'Product': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Quantity': [10, 15, 20, 12, 8, 10],
    'Price': [5.00, 7.50, 6.00, 8.25, 6.50, 9.00]
}

df = pd.DataFrame(data)

In [ ]:
df

   Transaction_ID Product  Quantity  Price
0            1001       A        10   5.00
1            1002       B        15   7.50
2            1003       A        20   6.00
3            1004       C        12   8.25
4            1005       B         8   6.50
5            1006       C        10   9.00

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Mary', 'Alex', 'Mark', 'Jane'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math'],
    'Score': [85, 92, 78, 88, 90]
}

df2 = pd.DataFrame(data)

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Mary', 'Alex', 'Mark', 'Jane'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math'],
    'Score': [85, 92, 78, 88, 90]
}

df2 = pd.DataFrame(data)

In [ ]:
df2

   Name  Subject  Score
0  John     Math     85
1  Mary  Science     92
2  Alex     Math     78
3  Mark  Science     88
4  Jane     Math     90

In [ ]:
df2.sort_values('Score',ascending=False)

   Name  Subject  Score
1  Mary  Science     92
4  Jane     Math     90
3  Mark  Science     88
0  John     Math     85
2  Alex     Math     78

In [ ]:
df2.sort_index(ascending=False)

   Name  Subject  Score
4  Jane     Math     90
3  Mark  Science     88
2  Alex     Math     78
1  Mary  Science     92
0  John     Math     85

In [ ]:
df2.set_index('Name',inplace=True)

In [ ]:
df2.reset_index(inplace=True)

In [ ]:
df2

   Name  Subject  Score
0  John     Math     85
1  Mary  Science     92
2  Alex     Math     78
3  Mark  Science     88
4  Jane     Math     90

In [ ]:
df2.rename(columns={'Score':'Grade'})

   Name  Subject  Grade
0  John     Math     85
1  Mary  Science     92
2  Alex     Math     78
3  Mark  Science     88
4  Jane     Math     90

In [ ]:
df2.notnull()

   Name  Subject  Score
0  True     True   True
1  True     True   True
2  True     True   True
3  True     True   True
4  True     True   True

In [ ]:
df2.groupby('')

In [ ]:
df2

   Name  Subject  Score
0  John     Math     85
1  Mary  Science     92
2  Alex     Math     78
3  Mark  Science     88
4  Jane     Math     90

In [ ]:
pd.concat([df,df2],axis=0)

   Transaction_ID Product  Quantity  Price  Name  Subject  Score
0          1001.0       A      10.0   5.00   NaN      NaN    NaN
1          1002.0       B      15.0   7.50   NaN      NaN    NaN
2          1003.0       A      20.0   6.00   NaN      NaN    NaN
3          1004.0       C      12.0   8.25   NaN      NaN    NaN
4          1005.0       B       8.0   6.50   NaN      NaN    NaN
5          1006.0       C      10.0   9.00   NaN      NaN    NaN
0             NaN     NaN       NaN    NaN  John     Math   85.0
1             NaN     NaN       NaN    NaN  Mary  Science   92.0
2             NaN     NaN       NaN    NaN  Alex     Math   78.0
3             NaN     NaN       NaN    NaN  Mark  Science   88.0
4             NaN     NaN       NaN    NaN  Jane     Math   90.0

In [ ]:
df.merge(df2,how='inner',on='Name')

KeyError: ignored

In [ ]:
import pandas as pd

# Create the Employees table
df1 = {
    'employee_id': [1, 2, 3, 4],
    'employee_name': ['John Smith', 'Jane Doe', 'Alex Johnson', 'Lisa Brown'],
    'department_id': [101, 102, 101, 103]
}
df1 = pd.DataFrame(df1)

# Create the Departments table
df2 = {
    'department_id': [101, 102, 103, 104],
    'department_name': ['HR', 'Finance', 'Marketing', 'Sales']
}
df2 = pd.DataFrame(df2)

In [ ]:
df1

   employee_id employee_name  department_id
0            1    John Smith            101
1            2      Jane Doe            102
2            3  Alex Johnson            101
3            4    Lisa Brown            103

In [ ]:
df2

   department_id department_name
0            101              HR
1            102         Finance
2            103       Marketing
3            104           Sales

In [ ]:
pd.concat([df1,df2],axis = 0)

   employee_id employee_name  department_id department_name
0          1.0    John Smith            101             NaN
1          2.0      Jane Doe            102             NaN
2          3.0  Alex Johnson            101             NaN
3          4.0    Lisa Brown            103             NaN
0          NaN           NaN            101              HR
1          NaN           NaN            102         Finance
2          NaN           NaN            103       Marketing
3          NaN           NaN            104           Sales

In [ ]:
df1.merge(df2,how='inner',on='department_id')

   employee_id employee_name  department_id department_name
0            1    John Smith            101              HR
1            3  Alex Johnson            101              HR
2            2      Jane Doe            102         Finance
3            4    Lisa Brown            103       Marketing

In [ ]:
df1.merge(df2,how='left',on='department_id')

   employee_id employee_name  department_id department_name
0            1    John Smith            101              HR
1            2      Jane Doe            102         Finance
2            3  Alex Johnson            101              HR
3            4    Lisa Brown            103       Marketing

In [ ]:
student_dict = {
    'name':['nitish','ankit','rupesh','rishabh','amit','ankita'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

In [ ]:
students = pd.DataFrame(student_dict)
students

      name   iq  marks  package
0   nitish  100     80       10
1    ankit   90     70        7
2   rupesh  120    100       14
3  rishabh   80     50        2
4     amit    0      0        0
5   ankita    0      0        0

In [ ]:
students.set_index('name',inplace = True)

In [ ]:
students

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

In [ ]:
marks = pd.DataFrame([
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,70,14],
    [80,70,14]
],columns=['iq','marks','package'])

marks

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     70       14
4   80     70       14

In [ ]:
marks.value_counts()

iq   marks  package
80   70     14         2
90   70     7          1
100  80     10         1
120  100    14         1
dtype: int64

In [ ]:
marks[marks['marks'].sort_values(ascending = False)]

In [ ]:
dict1 = {
    'Name':['Ranjit','Vishal','Vivek','Pravin'],
    'Marks':[10,20,14,5]
}

df = pd.DataFrame(dict1)

df

     Name  Marks
0  Ranjit     10
1  Vishal     20
2   Vivek     14
3  Pravin      5

In [ ]:
df.set_index('Name',inplace=True)

In [ ]:
df

        Marks
Name
Ranjit     10
Vishal     20
Vivek      14
Pravin      5

In [ ]:
students

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

In [ ]:
students.isnull().sum()

iq         0
marks      0
package    0
dtype: int64

In [ ]:
students.rename(columns={'Marks':'Percent'},inplace = True)

In [ ]:
students

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

In [ ]:
students.sum(axis=1)

name
nitish     190
ankit      167
rupesh     234
rishabh    132
amit         0
ankita       0
dtype: int64

In [ ]:
students.index

Index(['nitish', 'ankit', 'rupesh', 'rishabh', 'amit', 'ankita'], dtype='object', name='name')

In [ ]:
students[['iq','marks']]

          iq  marks
name
nitish   100     80
ankit     90     70
rupesh   120    100
rishabh   80     50
amit       0      0
ankita     0      0

In [ ]:
students

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

In [ ]:
students.loc['nitish':'ankit']

         iq  marks  package
name
nitish  100     80       10
ankit    90     70        7

In [ ]:
students.loc['nitish']

iq         100
marks       80
package     10
Name: nitish, dtype: int64

In [ ]:
students

          iq  marks  package    name
name
nitish   100     80       10  nitish
ankit     90     70        7  nitish
rupesh   120    100       14  nitish
rishabh   80     50        2  nitish
amit       0      0        0  nitish
ankita     0      0        0  nitish

In [ ]:
students[students['marks'] == 70]

       iq  marks  package    name
name
ankit  90     70        7  nitish

In [ ]:
students

          iq  marks  package    name status
name
nitish   100     80       10  nitish   Pass
ankit     90     70        7  nitish   Pass
rupesh   120    100       14  nitish   Pass
rishabh   80     50        2  nitish   Pass
amit       0      0        0  nitish   Pass
ankita     0      0        0  nitish   Pass

In [ ]:
df[df['Product'] == 'A']['Quantity'].sum()

In [ ]:
df[df['Product'] == 'B']['Price'].mean()

Question 3:
What is the maximum quantity sold among all products?

In [ ]:
df['Quantity'].max()

Question 4:
What is the total revenue generated from all transactions?

In [ ]:
A = df['Quantity'] * df['Price']
A.sum()

Question 5:
What is the minimum price among all products?

In [ ]:
df['Price'].min()

Question 6:
How many unique products are there in the dataset?

In [ ]:
df.groupby('Product').count().shape[0]

Question 7:
What is the average quantity sold for product 'C'?

In [ ]:
df[df['Product'] == 'C']['Quantity'].mean()

Question 8:
What is the total quantity sold for each product?

In [ ]:
df.groupby('Product')['Quantity'].sum()

Question 9:
What is the average price per unit for each product?

In [ ]:
df.groupby('Product')['Price'].mean()

Question 10:
What is the total revenue generated from each transaction (product-wise) in descending order?

In [ ]:
df['revenue'] = df['Quantity'] * df['Price']
df.sort_values('revenue',ascending = False)

#df.groupby('Product')[df['Quantity'] * df['Price']].sum()

#A = df['Quantity'] * df['Price']

In [ ]:
transaction_revenue = df.groupby('Transaction_ID')['Quantity', 'Price'].sum()
transaction_revenue['Revenue'] = transaction_revenue['Quantity'] * transaction_revenue['Price']
sorted_revenue = transaction_revenue.sort_values('Revenue', ascending=False)
sorted_revenue

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Mary', 'Alex', 'Mark', 'Jane'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math'],
    'Score': [85, 92, 78, 88, 90]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.groupby('Subject')['Score'].mean()

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Mary', 'Alex', 'Mark', 'Jane'],
    'Age': [25, 30, 28, 35, 27],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney'],
    'Salary': [5000, 6000, 5500, 4500, 6500]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df['Salary'].mean()

In [ ]:
df['Age'].max()

In [ ]:
df.groupby('City').count()

In [ ]:
df['Salary'].sum()

In [ ]:
df[df['Salary'] == df['Salary'].max()]

In [ ]:
df.groupby('Age').mean()

In [ ]:
import pandas as pd

data = {
    'Transaction_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B', 'C', 'A'],
    'Quantity': [10, 5, 3, 8, 12, 7, 4, 9, 6, 11],
    'Price': [10.00, 15.00, 12.50, 8.00, 11.50, 9.75, 14.00, 10.50, 13.25, 9.00]
}

df = pd.DataFrame(data)

df

Question 1:
What is the total revenue generated from each transaction (product-wise) in descending order?

In [ ]:

df.groupby('Product')['Quantity'].sum()

Question 2:
What is the total quantity sold for each product?

In [ ]:
df.groupby('Product')['revenue'].mean()

In [ ]:
df['revenue'].max()

In [ ]:
students = {
    'Marks':[20,56,15],
    'Name':['Ranjit','Ghadge','Rupesh']}

student= pd.DataFrame(students)
student.set_index('Name',inplace = True)
student

In [ ]:
n1 = input()
n2 = input()

n1,n2 = n2,n1

print(n1)
print(n2)

In [ ]:
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact = fact * i
  return fact

print(factorial(5))

In [ ]:
n1 = 0
n2 = 1
num = int(input())
for i in range(2,num):
  sum = n1 + n2
  print(sum)
  n1 = n2
  n2 = sum

In [ ]:
num = int(input())
n1 = 0
n2 = 1
print(n1)
print(n2)
for i in range(2,num):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum

In [ ]:
num = int(input())
if num % 2 ==0:
  print('even no')
else:
  print('odd no')

In [ ]:
num = int(input())

if num == 1:
  print('no is not prime')
if num >1:
    for i in range(2,num):
      if num % i == 0:
        print('No is not prime')
        break
    else:
        print('no is prime')

In [ ]:
5/2

In [ ]:
5%2

In [ ]:
5//2

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,2,3,4,5])
print(a)

In [ ]:
b = np.array([5,2,4,5,1,6,4,5])
print(b)

In [ ]:
np.arange(1,11,2)

In [ ]:
a1 = np.arange(8).reshape(2,4)
a1

In [ ]:
a1.ndim

In [ ]:
a1.shape

In [ ]:
a1.size

In [ ]:
a2 = np.arange(12).reshape(3,4)
a2

In [ ]:
a2**2

In [ ]:
a3 = np.random.random((3,3))*100
a3

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
reshape = np.reshape(arr,(3,4))
reshape

In [ ]:
import pandas as pd

In [ ]:
students = {
    'Name':['Ranjit','Ramesh','Ghadge','Rupesh','Rasika'],
    'RollNO':[1,2,3,4,5],
    'Marks':[20,45,10,45,10]
}

df = pd.DataFrame(students)

df

In [ ]:
df.set_index('RollNO',inplace = True)
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.rename(columns={'Marks':'Percent'},inplace= True)
df

In [ ]:
df.sum(axis=0)

In [ ]:
df.mean(axis=0)

In [ ]:
df['Name']

In [ ]:
df.iloc[2]

In [ ]:
df[['Percent','Name']]

In [ ]:
df.iloc[0:3,0:3]

In [ ]:
df[df['Percent'] > 10]

In [ ]:
df[df['Name'].str.contains('Ranjit')]

In [ ]:
df['Grade'] = ['A','B','C','D','E']
df

In [ ]:
df.value_counts()

In [ ]:
df.sort_values('Percent',ascending = False)

In [ ]:
df.sort_values(['Name','Grade'],ascending=[False,False])

In [ ]:
df['Percent_rank'] = df['Percent'].rank()
df

In [ ]:
df.sort_index()

In [ ]:
df.set_index('Name')

In [ ]:
df

In [ ]:
df.nunique

In [ ]:
df['Name'].nunique()

In [ ]:
df['Percent'].fillna(df['Percent'].mean())

In [ ]:
marks = pd.DataFrame([[1],[2],[3],[4]],columns=['Marks'])
marks

   Marks
0      1
1      2
2      3
3      4