<a href="https://colab.research.google.com/github/Ranjitghadge/Python-Practice/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LOOPS:

Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [ ]:
l = []
for i in range(1500,2701):
  if i%7==0 and i%5==0:
    l.append(str(i))
print(l)

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
a =int(input())

for i in range(0,a+1):
  print(i*'*')

for i in range(a,0,-1):
  print(i*'*')

5

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
n=int(input())
rev= 0

while(n>0):
  n=n%10
  rev=rev + (rev*10+n)
  n=n//2

print(rev)

123456
760

## Practice Problems

Reverse Words

In [ ]:
a= input()
list1= a.split(' ')
list2= []
for i in list1:
  list2.append(i[::-1])
output = ' '.join(list2)
print(output)

Ranjit Ghadge
tijnaR egdahG

Second Best

In [ ]:
a=input()
list1= a.split(',')
list2=[]

for i in list1:
  list2.append(int(i))
list2.sort()
output= list2[-2]
print(output)

23,45,65,25,45,56
56

In [ ]:
import pandas as pd
import numpy as np

n= input()
list1=n.split(' ')
series = pd.Series(data=list1)

result = series.value_counts()

print(result.sort_index())

1 23 45 65 78 52 45 12
1     1
12    1
23    1
45    2
52    1
65    1
78    1
dtype: int64

Given two dataframes from the following dictionary input format

d1 = {‘name’: [‘JOHN1’, ‘DAVE’, ‘AJAY’, ‘TRACY’, ‘TIYA’],
‘height’: [174, 190, 184, 170, 162]}

d2 = {‘name’: [‘john’, ‘dave’, ‘ajay’, ‘tracy’, ‘tiya’],
‘weight’: [70, 82, 65, 62, 53]}

Next, join the two dataframes by name and return the resultant dataframe. Note that the casing for
names in the two dataframes are different and need to be handled separately. Return the inner join
dataframe only with name in small case.

In [ ]:
import pandas as pd
import numpy as np
def joindf(df1,df2):
  df1['name']= df1['name'].str.lower()
  df2['name']= df2['name'].str.lower()

  new_df=df1.merge(df2, how='inner',left_on='name',right_on='name')
  return new_df

df1= pd.DataFrame({'name': ['JOHN1', 'DAVE', 'AJAY', 'TRACY', 'TIYA'], 'height': [174, 190, 184,170, 162]})
df2= pd.DataFrame({'name': ['john', 'dave', 'ajay', 'tracy', 'tiya'],'weight': [70, 82, 65, 62,53]})
a=joindf(df1,df2)
print(a)

    name  height  weight
0   dave     190      82
1   ajay     184      65
2  tracy     170      62
3   tiya     162      53

Largest Perimeter Triangle
Easy
Given an integer array nums, write a python program to return the largest perimeter of a triangle with a non-zero area, formed from three of these lengths. If it is impossible to form any triangle of a non-zero area, return 0.

Example 1:
Input:
nums = [2,1,2]

Output:
5

In [ ]:

def largestPerimeter(A):
  perimeter=sum(A)
  area = 0.5*max(A)*min(A)
  if area ==0:
    return 0
  else:
    return perimeter

A=[2,1,2]
result=largestPerimeter(A)
print(result)

5

Plus One

You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Write a python program to increment the large integer by one and return the resulting array of digits.

Example 1:
Input:
digits = [1,2,3]

Output:
[1, 2, 4]

Explanation:
The array represents the integer 123. Incrementing by one gives 123 + 1 = 124.

Thus, the result should be [1,2,4].

In [ ]:

def plusOne(digits):
  string=''
  list1=[]
  for i in digits:
    string=string+str(i)
  num=int(string)
  new_num=num+1
  for i in str(new_num):
      list1.append(int(i))

  return list1

digits = [1,2,3]
print(plusOne(digits))

[1, 2, 4]

In [ ]:
#arr = eval(input())
#k = int(input())

def findKthPositive(arr, k):
    l = []
    i = 0
    while len(l) < k:
        if arr[i] not in l:
            l.append(arr[i])
        i += 1
    return l[k - 1]

arr = [2,3,4,7,11]

k = 5
out = findKthPositive(arr, k)
print(out)

11

In [ ]:
A=eval(input())
l=[]
def sortArrayByParity(A):
  for i in A:
    if  i%2==0:
     l.append(i)
  

  for j in A:
    if j %2!= 0:
      l.append(j)
      
  return l


print(sortArrayByParity(A))

[3,1,2,4]
[2, 4, 3, 1]

In [ ]:
  A = eval(input())
l = []

def sortArrayByParity(A):
    for i in A:
        if i % 2 == 0:
            l.append(i)
    
    for j in A:
        if j % 2 != 0:
            l.append(j)
    
    return l

result = sortArrayByParity(A)
print(result)

[3,1,2,4]
[2, 4, 3, 1]

In [ ]:
aliceSizes = eval(input())
bobSizes = eval(input())

def fairCandySwap(aliceSizes, bobSizes):
    aliceTotal = sum(aliceSizes)
    bobTotal = sum(bobSizes)
    target = (aliceTotal + bobTotal) // 2

    aliceSet = set(aliceSizes)

    for bobCandy in bobSizes:
        aliceCandy = target - (bobTotal - bobCandy)
        if aliceCandy in aliceSet:
            return [aliceCandy, bobCandy]

aliceSizes = [1,1]  bobSizes = [2, 2]

SyntaxError: ignored

Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
Expected Output :
Number of even numbers : 5
Number of odd numbers : 4

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even=0
odd=0
for num in numbers:
  if num%2==0:
    even=even+1
  else:
    odd=odd+1
print('even no is:',even)
print('odd no is:',odd)

even no is: 4
odd no is: 5

Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

In [ ]:
for x in range(6):
  if(x==3 or x==6):
    continue
  print(x,end=' ')

0 1 2 4 5

Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
a=color_list[0]
b=color_list[-1]
print(a,b)

Red Black

Write a Python program to get the volume of a sphere with radius six.

In [ ]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [ ]:
a=int(input())
b=int(input())

print('value of a is:', a)
print('value of b is:', b)

a = a - b #3-2=1
b= a+b #1+2=3
a= b-a # 3-1=2

print('after swaping')

print('value of a is:', a)
print('value of b is:', b)

3
2
value of a is: 3
value of b is: 2
after swaping
value of a is: 2
value of b is: 3

In [ ]:
num = int(input())
divisors_sum= 0
for i in range (1,num):
    if num% i ==0:
        divisors_sum= divisors_sum +i

if divisors_sum == num:
    print('it is a perfect no')
else:
    print('it is not perfect no')

6
it is a perfect no

In [ ]:
num = int(input())
divisors_sum= 0
num=num//10
for i in range (1,num):
    if num% i ==0:
        divisors_sum= divisors_sum +i

if divisors_sum == num:
    print('iIt is Perfect Number')
else:
    print('It is not Perfect Number')

28
It is not Perfect Number

In [ ]:
string = input()

if string == string[: :-1]:
    print('String is a Palindrome')
else:
    print('String is not a Palindrome')

mam
String is a Palindrome

In [ ]:
#Even & odd No
No= int(input('Enter A No'))
if No % 2==0:
  print(No,' No is Even')
else:
    print(No,' No is odd')

Enter A No7
7  No is odd

In [ ]:
#leap Year
x=int(input('Enter Year'))

result='Leap Year 'if x%400==0 else 'Leap year' if x%4==0 and x%100!=0 else 'non leap year'
print(result)

Enter Year2021
non leap year

In [ ]:
#remove duplicate from list
names=[]
n=int(input('How many names you want to enter'))
for i in range(n):
  print(i+1,'Enter name')
  names.append(input())
s=set(names)
names=list(s)
for x in names:
  print(x)

How many names you want to enter5
1 Enter name
ranjit
2 Enter name
rasika
3 Enter name
rachana
4 Enter name
rupesh
5 Enter name
ramesh
rasika
rupesh
ramesh
ranjit
rachana

In [ ]:
n = int(input())

for i in range(0,n):
  for j in range(i):
    print(i)

4
1
2
2
3
3
3

In [ ]:
n = int(input())

for i in range (n,0,-1):
  a = str(i%2)*i

  print(a)

5
11111
0000
111
00
1

In [ ]:
n = int(input())
stars = 2 * n -1
for i in range(n):
  for j in range(stars):
    if i ==0:
      if j == n-1:
        print('*',end='')
      else:
        print(' ',end='')
    elif i==n-1:
      print('*',end = '')
    else:
      if j == n-1-i or j == n-1+i:
        print('*',end = '')
      else:
        print(' ',end='')
  print()

5
    *
   * *
  *   *
 *     *
*********

In [ ]:
n = int(input())

for i in range(2*n-1):
  if i < n-1:
    blank = n -(i+1)%n
  else:
    blank = (i+1)%n
  for j in range(blank):
    print(' ',end='')
  for j in range(blank,n):
    print('*',end='')
  print()

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

# Print the left alphabet triangle pattern
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(chr(64 + i), end="")
    print()

Enter the number of rows: 3
A
BB
CCC

In [ ]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

# Print the left alphabet triangle pattern
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(chr(64 + j), end="")
    print()

Enter the number of rows: 3
A
AB
ABC

In [ ]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

# Generate the pattern
for i in range(1, rows + 1):
    for j in range(i):
        if j == 0:
            print(i, end="")
        else:
            print(0, end="")
    print()

Enter the number of rows: 4
1
20
300
4000

In [ ]:
rows = int(input("Enter the number of rows: "))

# Generate the pattern
for i in range(1, rows + 1):
    for j in range(i):
        if j == 0 or j == i - 1:
            print(i, end="")
        else:
            print(0, end="")
    print()

Enter the number of rows: 4
1
22
303
4004

In [ ]:
rows = int(input("Enter the number of rows: "))

# Print the left number triangle pattern
for i in range(rows):
    for j in range(i+1):
        if j == 0 or j == i:
            print(i, end="")
        else:
            print(0, end="")
    print()

Enter the number of rows: 4
0
11
202
3003

Youtube

In [ ]:
name= 'Ranjit'
age = 20
is_new = True

In [ ]:
name= input('what is your name?' )
print('hi '+name)

what is your name?ranjit
hi ranjit

In [ ]:
Name= input('whats is your name ? ')
color= input('whats is fav color ? ')

print( Name + ' Like ' + color)

whats is your name ? ranjit
whats is fav color ? silver
ranjit Like silver

In [ ]:
birth_year= input('Enter a birth year  ')
age= 2023-int(birth_year)

print(age)

Enter a birth year  1998
25

In [ ]:
wt=input('what is your age in kg')
wt_in_gram = 1000*int(wt)

print(wt_in_gram)

what is your age in kg45
45000

In [ ]:
is_hot = False

if is_hot:
  print('Drink Water')
  print('Drink pleanty of water')
else:
  print('It is cold day')
print('Enjoy your day')

It is cold day
Enjoy your day

In [ ]:
#Price_house_1M
Good_Credit= True

if Good_Credit:
  print('Need to put dawn 10%')
else:
  print('Need to put dawn 20%')

Need to put dawn 10%

In [ ]:
#While 
i = 1
while i <= 5:
    print(i)
    i = i+1
print("Done")

1
2
3
4
5
Done

In [ ]:
#While 
i = 1
while i <= 5:
    print('*'* i)
    i = i+1
print("Done")

*
**
***
****
*****
Done

In [ ]:
#While 
i = 1
while i <= 5:
    print(i%2==0)
    i = i+1
print("Done")

False
True
False
True
False
Done

In [ ]:
secret_number=9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input('Guess: '))
  guess_count += 1 
  if guess == secret_number:
    print('You won!')
    break
else: print('You Failed ')

Guess: 2
Guess: 3
Guess: 9
You won!

Swapping of two no

In [ ]:
#num1=10;
#num2=20;
num1=input("Enter Num1:")
num2=input("Enter Num2:")

print("value of num1 before swap:",num1)
print("value of num2 before swap:",num2)

#approach 1
#temp=num1
#num1=num2
#num2=temp

#approach 2
num1,num2=num2,num1


print("value of num1 after swap:",num1)
print("value of num2 after swap:",num2)

Enter Num1:15
Enter Num2:100
value of num1 before swap: 15
value of num2 before swap: 100
value of num1 after swap: 100
value of num2 after swap: 15

Prime No or Not

In [ ]:
num=5
count=5

if num>1:
  for i in range (1,num+1):
    if(num%1)==0:
      count=count+1
  if count==2:
    print("Number is prime")
  else:
    print("Number is not prime")

Number is not prime

Find Factorial Of No

In [ ]:
#1st approach

#factorial=1
#num=5

#if num<0:
#   print("Factorial doesnt exist for negative no")
#elif num==0:
 #  print("The factorial of 0 is 1")
#else:
  #for i in range(1,num+1):
  #    factorial= factorial*i
 # print("Factorial on ", num ,"is", factorial)


#2nd approach

def factorial(n):
#  if(n==0 or n==1):
#    return 1

#  else:
#    return n * factorial(n-1)

    return 1 if (n==1 or n==0) else n*factorial(n-1)


num=5
print("factorial of ", num, "is", factorial(num))

factorial of  5 is 120

Fibonacci Series

In [ ]:
n1=0
n2=1

print(n1)
print(n2)

for i in range (2,20):
    sum= n1+n2
    print(sum)
    n1=n2
    n2=sum

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

Sum of array
Not work here

In [ ]:
arr=[1,2,3,4,5,6,7,8,9]
a=0
a=sum(arr)
print(a)

TypeError: ignored

Maximum & Min Values in array

In [ ]:
arr= [30,20,15,40,10]

#finding max element

max=arr[0]
n=len(arr)

for i in range(1,n):
  if arr[i]>max:
    max=arr[i]
print(max)


#Finding min element 

arr= [30,20,15,40,10]

min=arr[0]
n=len(arr)

for i in range(1,n):
  if arr [i]<min:
    min=arr[i]
print(min)

40
10

Lenth of th list

In [ ]:
#approach 1

mylist=[1,2,4,5,6,4,7,5,8]
print(mylist)
count=0

for i in mylist:
  count= count+1
print("Length of list by 1st approach",count) 


#Approach 2

mylist=[1,2,4,5,6,4,7,5,8]

print('Lenth of the list by 2nd approach', len(mylist))

[1, 2, 4, 5, 6, 4, 7, 5, 8]
Length of list by 1st approach 9
Lenth of the list by 2nd approach 9

Add two numbers

In [ ]:
#num1 = 38
#num2 = 20

#sum= num1+ num2

#print("sum of two numbers", sum)

sum of two numbers 58

In [ ]:
num1= float(input("enter a number here: "))
num2= float(input("enter a another no here "))

sum= num1 + num2

print("sum of two numbers", sum)

enter a number here: 20
enter a another no here 25
sum of two numbers 45.0

Finding Square root

In [ ]:
# Using Exponential

num= int(input("enter a number here: "))

sqr_root= num**(0.5)

print("Square root of num is:", sqr_root)

enter a number here: 36
Square root of num is: 6.0

In [ ]:
# Using math module 

import math 

num = int(input("enter a no here:  "))
sqr_root= math.sqrt(num)
print(sqr_root)

enter a no here:  64
8.0

Area of Triangle

In [ ]:
Height=float(input("Height of Trinagle is: "))
Base=float(input("Base of Trinagle is: "))

Area= (0.5*Base*Height)

print("Area of Triangel is: ", Area)

Height of Trinagle is: 56
Base of Trinagle is: 2.2
Area of Triangel is:  61.60000000000001

Swap two variables

In [ ]:
# Using Third variable
x = 12
y = 25

temp = x

x = y
y = temp

print(x)
print(y)

25
12

In [ ]:
x = 25
y = 20

x,y = y,x

print(x)
print(y)

20
25

Kilometer to Miles

In [ ]:
km = float(input("enter your km here:" ))

mile= km*0.621371

print(km, "km will be", mile, "Miles")

enter your km here:20
20.0 km will be 12.42742 Miles

Check for no is Positive or Negative

In [ ]:
num= int(input("Enter a no here:"))

if num>0:
  print("It is a Positive no")
elif num ==0:
  print("It is a Zero")
else:
  print("It is a Negative No")

Enter a no here:0
It is a Zero

Check for Even or odd No

In [ ]:
num= int(input("Enter a no:"))

if num % 2 == 0:
  print("It is a Even No")
else:
  print("It is a odd No")

Enter a no:121
It is a odd No

Check for leap year

In [ ]:
year = int(input("Enter a year: "))

if (year % 100 == 0) and (year % 400 == 0):
  print( year, "Is a leap year")

elif (year % 4 == 0 ) and (year % 100 != 0):
  print(year,"Is a leap year")

else:
  print(year, "is not a leap year")

Enter a year: 2020
2020 Is a leap year

Find out large no

In [ ]:
num1= 23
num2= 75
num3= 60

if num1>num2 and num1>num3:
  print("Num1 is large no")
elif num2>num3 and num2>num1:
  print("Num2 is large no")
else:
  print("Num3 is large no")

Num2 is large no

NO is prime or not

In [ ]:
num=int(input("Enter No here"))

if num == 1:
   print("No is not Prime")
if num > 1:
  for i in range (2,num):
      if num % i == 0:
        print("No is not Prime")
        break
        
  else:
      print("No is prime")

Enter No here10
No is not Prime

Print all prime no in an interval

In [ ]:
lower= int(input("Enter lower No here"))
upper= int(input("Enter upper No here"))

for num in range (lower, upper+1):
  if num > 1:
    for i in range (2, num):
      if num % i ==0:
         break
    else:
        (print(num))

Enter lower No here2
Enter upper No here50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Find Factorial of No

In [ ]:
num=int(input("Enter No here"))

fact=1

if num < 0:
  print("Factorial doent exist")
if num == 0:
  print ("Factorial of 0 is",1)
if num> 0:
  for i in range (1,num+1):
    fact = fact*i
print("Factorial of given no is", fact)

Enter No here5
Factorial of given no is 120

In [ ]:
# sol 2
# recursion

def fact(a):
  if a == 0:
    return 1
  else:
    return ((a)* fact (a-1))

num = int(input("Enter a number here: "))
result = fact(num)
print("Factorial of given no is", result)

Enter a number here: 20
Factorial of given no is 2432902008176640000

In [ ]:
n=int(input("Enter No here"))

for i in range(1,11):
  print(n,"X",i,"=",n*i)

Enter No here2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
# using while
n=int(input("Enter No here"))

i=1

while i<=10:
  print(n,"X",i,"=",n*i)
  i = i+1

Enter No here23
23 X 1 = 23
23 X 2 = 46
23 X 3 = 69
23 X 4 = 92
23 X 5 = 115
23 X 6 = 138
23 X 7 = 161
23 X 8 = 184
23 X 9 = 207
23 X 10 = 230

Fibonacci Sequence

In [ ]:
a=0
b=1
num=int(input("Enter No here"))
if num == 1:
  print(a)
else:
  print(a)
  print(b)
  for i in range (1,num+1):
    c = a+b
    a = b
    b = c
    print(c)

Enter No here12
0
1
1
2
3
5
8
13
21
34
55
89
144
233

Armstrong Number

In [ ]:
num=int(input("Enter No here"))
order = len(str(num))

sum=0
temp= num

while  temp > 0:
  digit = temp%10
  sum += digit**order
  temp //=10

if sum == num:
  print("It is a armstrong no ")
else:
  print("It is NOT a armstrong no ")

Enter No here153
It is a armstrong no

Sum of n natural nos

In [ ]:
num=int(input('Enter no'))

if num < 0:
  print('Please enter positive no')
else:
  sum=0
  while num>0:
    sum += num
    num -= 1

print(sum )

Enter no25
325

Programe to display power of 2 using anonymous function.

In [ ]:
nterms = int(input("enter no of terms here"))

result = list(map(lambda x : 2 **x, range(nterms+1)))

print(result)

for i in range (nterms + 1):
  print("The value of 2 raised to power", i, "is",result[i])

enter no of terms here7
[1, 2, 4, 8, 16, 32, 64, 128]
The value of 2 raised to power 0 is 1
The value of 2 raised to power 1 is 2
The value of 2 raised to power 2 is 4
The value of 2 raised to power 3 is 8
The value of 2 raised to power 4 is 16
The value of 2 raised to power 5 is 32
The value of 2 raised to power 6 is 64
The value of 2 raised to power 7 is 128

No divisible by other no

In [ ]:
#Sol 1
print("The no divisible by 13 are")
for i in range (1,100):
  if i % 13== 0:
    print(i)

The no divisible by 13 are
13
26
39
52
65
78
91

In [ ]:
 #Sol 2 use lambda & filter

 L = [39,48,95,55,33,65]

 result = list(filter(lambda x : x % 13==0,L))

 print('No divisible by 13 are', result)

No divisible by 13 are [39, 65]

Covert Decimal to binary

In [ ]:
decimal=int(input('Enter a no here'))

print ('The conversion of decimal no:', decimal,'is: ')
print (bin(decimal),'in decimal')
print (oct(decimal),'in octal')
print (hex(decimal),'in hexadecimal')

Enter a no here25
The conversion of decimal no: 25 is:
0b11001 in decimal
0o31 in octal
0x19 in hexadecimal

Find HCF or GCD

In [ ]:
def findHCF(x,y):
    if x > y:
        smaller= y
    else:
        smaller = x
    for i in range (1,smaller+1):
        if ((x % i==0) and (y % i==0)):
            hcf= i
    return hcf

print("HCF of given no is: ", findHCF(12,30))

HCF of given no is:  6

FInd factors of num

In [ ]:
num= int(input('enter a num here: ')) 
for i in range(1,num+1):
    if num % i==0:
      print("Factors of given no is", i)

enter a num here: 1254678
Factors of given no is 1
Factors of given no is 2
Factors of given no is 3
Factors of given no is 6
Factors of given no is 79
Factors of given no is 158
Factors of given no is 237
Factors of given no is 474
Factors of given no is 2647
Factors of given no is 5294
Factors of given no is 7941
Factors of given no is 15882
Factors of given no is 209113
Factors of given no is 418226
Factors of given no is 627339
Factors of given no is 1254678

Create Calculator

In [ ]:
num1= float(input('Enter a 1st no here: '))
num2= float(input('Enter a 2nd no here: '))

print("press 1 for addition \npress 2 for substraction \npress 3 for multiplication \npress 4 for division")

choice= int(input("enter a no here from 1-4: "))

if choice==1:
  print("Addition of no is",num1+num2)
elif choice==2:
  print("substraction of no is",num1-num2)
elif choice==3:
  print("multiplication of no is",num1*num2)
elif choice==4:
  print(num1/num2)
else:
  print("Invalid input")

Enter a 1st no here: 56
Enter a 2nd no here: 45
press 1 for addition
press 2 for substraction
press 3 for multiplication
press 4 for division
enter a no here from 1-4: 3
multiplication of no is 2520.0

### Question 1
Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line

In [ ]:
l=[]
for i in range (2000,3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def fact(x):
  if x == 0:
    return 1
  return x* fact(x-1)

x=int(input())
print(fact(x))

8
40320

### Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [ ]:
n= int(input())
d=dict()
for i in range (1,n+1):
  d[i]= i*i
print(d)

20
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

35,36,38
['35', '36', '38']
('35', '36', '38')


### Question 6
Level 2

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math
c=50
h=30
values = []
A= input().split(',')
items=[i for i in A ]
for d in items:
  values.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
print(','.join(values))

23,25,30
9,9,10

Question 7
Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] 

Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [ ]:
input_str= raw_input()
diamensions= [int(x) for x in input_str.split(',')]
rowNum=diamensions[0]
colNum=diamensions[1]
multilist=[[0 for col in range(colNum)]]

Week 3 Day 2

Sum of list of numbers

Write a Python program using recursion to calculate the sum of a list of numbers.

Example 1:
Input:
[2, 4, 5, 6, 7]

Output:
24

In [ ]:
num_List=eval(input())
def list_sum(num_List):
    for i in num_List:
      return sum(num_List)
       


print(list_sum(num_List))

[2, 4, 5, 6, 7]
24

## Almax

# Week 1, Day 2

Swap two numbers

Write a Python program to swap two number without using third variable.

Example 1:
Input:
a=9

b=2

Output:
value of a is : 9

value of b is : 2

After swapping

value of a is : 2

value of b is : 9

In [7]:

  a = int(input())
  b = int(input())
  
  c = 0

  c = a
  a = b
  b = c

  print('value of a', a) 
  print('value of b', b)

3
2
value of a 2
value of b 3
value of a 3
value of b 2

In [8]:
  a = int(input())
  b = int(input())
# a = 3, b = 2
  a = a - b  # 3 - 2 = 1
  b = a + b  # 1 + 2 = 3
  a = b - a  # 3 - 1 = 2

  print('value of a', a) 
  print('value of b', b)

3
2
value of a 2
value of b 3

Perfect Number
Easy
Write a python program to check a given number is perfect or not.

Note: A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

Lets understand it with example

6 is a positive number and its divisor is 1,2,3 and 6 itself.

But we should not include 6 as by the definition of perfect number.

Lets add its divisor excluding itself

1+2+3 = 6 which is equal to number itself.

It means 6 is a Perfect Number.

Example 1:
Input:
28

Output:
It is Perfect Number

Example 2:
Input:
1256488

Output:
It is not Perfect Number

In [21]:
num = int(input())
s = 0
for i in range(1, num):
  r = num % i 
  if r == 0:
    s = s + i

if s == num:
  print('It is perfect no')
else:
  print('It is not perfect no')

28
It is perfect no

Write a Python program to check whether a String is Palindrome or not?

Example 1:
Input:
madam

Output:
String is a Palindrome

Example 2:
Input:
abcdxyz

Output:
String is not a Palindrome

In [24]:
def pali(string):
  if string == string[::-1]:
    print('String is palindrome')
  else:
    print('String is not palindrome')

string = 'madam'
pali(string)

String is palindrome

Find last position of substring
Easy
Write a python program to find the last position of a given substring.

Example 1:
Input:
Emma is a data scientist who knows Python. Emma works at google.

Emma

Output:
Last occurrence of Emma starts at index 43

In [26]:
str1 = input()
substr = input()
index = str1.rfind(substr)
print('Last occurrence of',substr,'of',str1,'start at index',index)

Emma is a data scientist who knows Python. Emma works at google.
Emma
Last occurrence of Emma of Emma is a data scientist who knows Python. Emma works at google. start at index 43

Remove char. from string
Easy
Write a python program to remove a given character from string.

Example 1:
Input:
AlmaBetter

t

Output:
almabe er

In [27]:
str = input()
strl= str.lower()
ch = input()
chl=ch.lower()

print(strl.replace(ch,' '))

AlmaBetter
t
almabe  er

# Week 1: Day 2




# **Pandas- Harry YouTube**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dict1= {"name":['harry','rohan','ranjit','rupesh'],
         "marks":[32,26,42,50],
         "city":['satara','pune','mumbai','wai']}

In [ ]:
df= pd.DataFrame(dict1)
df

     name  marks    city
0   harry     32  satara
1   rohan     26    pune
2  ranjit     42  mumbai
3  rupesh     50     wai

In [ ]:
df.shape #Num of rows & columns

(4, 3)

In [ ]:
df.describe() #summary statistics for Num column

           marks
count   4.000000
mean   37.500000
std    10.630146
min    26.000000
25%    30.500000
50%    37.000000
75%    44.000000
max    50.000000

In [ ]:
df.apply (pd.Series.value_counts) #view uniue values & counts for all colums

        name  marks  city
26       NaN    1.0   NaN
32       NaN    1.0   NaN
42       NaN    1.0   NaN
50       NaN    1.0   NaN
harry    1.0    NaN   NaN
mumbai   NaN    NaN   1.0
pune     NaN    NaN   1.0
ranjit   1.0    NaN   NaN
rohan    1.0    NaN   NaN
rupesh   1.0    NaN   NaN
satara   NaN    NaN   1.0
wai      NaN    NaN   1.0

SyntaxError: ignored

In [ ]:
#to covert into csv
df.to_csv('friend.csv')

In [ ]:
df.to_csv('friend.csv',index=False) #to remove index

In [ ]:
#show some rows
df.head(2)

    name  marks    city
0  harry     32  satara
1  rohan     26    pune

In [ ]:
#bottom rows
df.tail(2)

     name  marks    city
2  ranjit     42  mumbai
3  rupesh     50     wai

In [ ]:
df.describe() #statistical analysis of data

           marks
count   4.000000
mean   37.500000
std    10.630146
min    26.000000
25%    30.500000
50%    37.000000
75%    44.000000
max    50.000000

In [ ]:
#ranjit=pd.read_csv('  ') #read csv file

In [ ]:
df

     name  marks    city
0   harry     32  satara
1   rohan     26    pune
2  ranjit     42  mumbai
3  rupesh     50     wai

In [ ]:
df['name'][1]='ramesh'

<ipython-input-76-fc9f0a609948>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'][1]='ramesh'

In [ ]:
df

     name  marks    city
0   harry     32  satara
1  ramesh     26    pune
2  ranjit     42  mumbai
3  rupesh     50     wai

In [ ]:
#Enter string in index
df.index=['1st','2nd','3rd','4th']
df

       name  marks    city
1st   harry     32  satara
2nd  ramesh     26    pune
3rd  ranjit     42  mumbai
4th  rupesh     50     wai

In [ ]:
df.index

Index(['1st', '2nd', '3rd', '4th'], dtype='object')

In [ ]:
df.columns

Index(['name', 'marks', 'city'], dtype='object')

In [ ]:
#covert into numpy array
df.to_numpy()

array([['harry', 32, 'satara'],
       ['ramesh', 26, 'pune'],
       ['ranjit', 42, 'mumbai'],
       ['rupesh', 50, 'wai']], dtype=object)

In [ ]:
#transpose of data

df.T

          1st     2nd     3rd     4th
name    harry  ramesh  ranjit  rupesh
marks      32      26      42      50
city   satara    pune  mumbai     wai

In [ ]:
df

       name  marks    city
1st   harry     32  satara
2nd  ramesh     26    pune
3rd  ranjit     42  mumbai
4th  rupesh     50     wai

In [ ]:
df.sort_index(axis=0,ascending=False) #axis=0 column, axis=1 row

       name  marks    city
4th  rupesh     50     wai
3rd  ranjit     42  mumbai
2nd  ramesh     26    pune
1st   harry     32  satara

In [ ]:
df.head()

       name  marks    city
1st   harry     32  satara
2nd  ramesh     26    pune
3rd  ranjit     42  mumbai
4th  rupesh     50     wai

In [ ]:
ser= pd.Series(np.random.rand(34))

Create random series

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
ser

0     0.188914
1     0.824250
2     0.245771
3     0.970826
4     0.210247
5     0.908078
6     0.409867
7     0.067526
8     0.939684
9     0.012257
10    0.971056
11    0.670381
12    0.871386
13    0.296224
14    0.372959
15    0.606055
16    0.919524
17    0.897490
18    0.878724
19    0.621179
20    0.599735
21    0.264961
22    0.520465
23    0.187846
24    0.643649
25    0.340960
26    0.687237
27    0.940250
28    0.571908
29    0.185526
30    0.382056
31    0.096101
32    0.678765
33    0.551621
dtype: float64

Create new dataframe

In [ ]:
newdf= pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
newdf.head()

          0         1         2         3         4
0  0.782997  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047
3  0.512533  0.479802  0.730971  0.335466  0.639821
4  0.918267  0.178420  0.055605  0.958090  0.911738

In [ ]:
type(newdf) #Check type

pandas.core.frame.DataFrame

In [ ]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.471705    0.497488    0.491513    0.485838    0.524625
std      0.285154    0.290391    0.292024    0.279946    0.289004
min      0.002346    0.000501    0.004300    0.000795    0.001834
25%      0.240721    0.225202    0.214593    0.248657    0.268317
50%      0.461213    0.502959    0.506046    0.488109    0.553678
75%      0.717137    0.745563    0.743609    0.708161    0.765537
max      0.999602    0.997700    0.995648    0.998590    0.999624

In [ ]:
newdf.dtypes #check data type

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
newdf[0][0]='Trushali'

In [ ]:
newdf.head()

          0         1         2         3         4
0  Trushali  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047
3  0.512533  0.479802  0.730971  0.335466  0.639821
4  0.918267  0.178420  0.055605  0.958090  0.911738

In [ ]:
newdf.dtypes #datatype change due to add string

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
newdf.index #total rows

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [ ]:
newdf.columns #total columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
newdf.to_numpy()

array([['Trushali', 0.9834013601480206, 0.449741321720907,
        0.07791661305845654, 0.5140678551557125],
       [0.47969664821580393, 0.6611743774014845, 0.7426585505832961,
        0.010938922216869429, 0.17232662019575995],
       [0.7809377636220556, 0.5331145221923865, 0.6609615602366843,
        0.8978724405855393, 0.06104702108719584],
       ...,
       [0.5863654914885574, 0.37367883976665206, 0.16844754666508044,
        0.2627283562178635, 0.8256499215602604],
       [0.7121067433674217, 0.9253635896814248, 0.007490295871647956,
        0.05063001157353908, 0.3802387765684585],
       [0.278534633262297, 0.7397130876522524, 0.8002268781427309,
        0.9985895631232509, 0.6649647469767415]], dtype=object)

In [ ]:
newdf[0][0]=0.3

In [ ]:
newdf.head()

          0         1         2         3         4
0       0.3  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047
3  0.512533  0.479802  0.730971  0.335466  0.639821
4  0.918267  0.178420  0.055605  0.958090  0.911738

In [ ]:
newdf.T#transpose row to columns & col to row

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.3,0.479697,0.780938,0.512533,0.918267,0.333351,0.919788,0.486325,0.551072,0.894637,...,0.279633,0.621088,0.725996,0.488846,0.455976,0.168249,0.280925,0.586365,0.712107,0.278535
1,0.983401,0.661174,0.533115,0.479802,0.17842,0.252947,0.099526,0.011522,0.657945,0.829806,...,0.739553,0.499031,0.506886,0.000501,0.942088,0.865366,0.88596,0.373679,0.925364,0.739713
2,0.449741,0.742659,0.660962,0.730971,0.055605,0.715182,0.38485,0.804901,0.668367,0.743926,...,0.78307,0.873471,0.579841,0.031759,0.174409,0.696239,0.461729,0.168448,0.00749,0.800227
3,0.077917,0.010939,0.897872,0.335466,0.95809,0.887943,0.960383,0.586875,0.545039,0.361692,...,0.861292,0.674159,0.943902,0.394453,0.531413,0.233332,0.079684,0.262728,0.05063,0.99859
4,0.514068,0.172327,0.061047,0.639821,0.911738,0.358662,0.636282,0.895626,0.773916,0.368508,...,0.536798,0.839132,0.363976,0.738808,0.44008,0.071001,0.524113,0.82565,0.380239,0.664965

In [ ]:
newdf.head()

          0         1         2         3         4
0       0.3  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047
3  0.512533  0.479802  0.730971  0.335466  0.639821
4  0.918267  0.178420  0.055605  0.958090  0.911738

In [ ]:
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.514068  0.077917  0.449741  0.983401       0.3
1    0.172327  0.010939  0.742659  0.661174  0.479697
2    0.061047  0.897872  0.660962  0.533115  0.780938
3    0.639821  0.335466  0.730971  0.479802  0.512533
4    0.911738  0.958090  0.055605  0.178420  0.918267
..        ...       ...       ...       ...       ...
329  0.071001  0.233332  0.696239  0.865366  0.168249
330  0.524113  0.079684  0.461729  0.885960  0.280925
331  0.825650  0.262728  0.168448  0.373679  0.586365
332  0.380239  0.050630  0.007490  0.925364  0.712107
333  0.664965  0.998590  0.800227  0.739713  0.278535

[334 rows x 5 columns]

In [ ]:
newdf.head()

          0         1         2         3         4
0       0.3  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047
3  0.512533  0.479802  0.730971  0.335466  0.639821
4  0.918267  0.178420  0.055605  0.958090  0.911738

In [ ]:
newdf2=newdf #view of newdf

In [ ]:
type(newdf[0])

pandas.core.series.Series

In [ ]:
newdf

            0         1         2         3         4
0         0.3  0.983401  0.449741  0.077917  0.514068
1    0.479697  0.661174  0.742659  0.010939  0.172327
2    0.780938  0.533115  0.660962  0.897872  0.061047
3    0.512533  0.479802  0.730971  0.335466  0.639821
4    0.918267  0.178420  0.055605  0.958090  0.911738
..        ...       ...       ...       ...       ...
329  0.168249  0.865366  0.696239  0.233332  0.071001
330  0.280925  0.885960  0.461729  0.079684  0.524113
331  0.586365  0.373679  0.168448  0.262728  0.825650
332  0.712107  0.925364  0.007490  0.050630  0.380239
333  0.278535  0.739713  0.800227  0.998590  0.664965

[334 rows x 5 columns]

In [ ]:
newdf2=newdf.copy() #make copy of dataframe

In [ ]:
newdf2[0][0]= 97825

<ipython-input-110-b38a29d716fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][0]= 97825

In [ ]:
newdf2

            0         1         2         3         4
0       97825  0.983401  0.449741  0.077917  0.514068
1    0.479697  0.661174  0.742659  0.010939  0.172327
2    0.780938  0.533115  0.660962  0.897872  0.061047
3    0.512533  0.479802  0.730971  0.335466  0.639821
4    0.918267  0.178420  0.055605  0.958090  0.911738
..        ...       ...       ...       ...       ...
329  0.168249  0.865366  0.696239  0.233332  0.071001
330  0.280925  0.885960  0.461729  0.079684  0.524113
331  0.586365  0.373679  0.168448  0.262728  0.825650
332  0.712107  0.925364  0.007490  0.050630  0.380239
333  0.278535  0.739713  0.800227  0.998590  0.664965

[334 rows x 5 columns]

In [ ]:
newdf.loc[0,0]= 654

In [ ]:
newdf.head(2)

          0         1         2         3         4
0       654  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327

In [ ]:
newdf.columns=list('ABCDE')

In [ ]:
newdf

            A         B         C         D         E
0         654  0.983401  0.449741  0.077917  0.514068
1    0.479697  0.661174  0.742659  0.010939  0.172327
2    0.780938  0.533115  0.660962  0.897872  0.061047
3    0.512533  0.479802  0.730971  0.335466  0.639821
4    0.918267  0.178420  0.055605  0.958090  0.911738
..        ...       ...       ...       ...       ...
329  0.168249  0.865366  0.696239  0.233332  0.071001
330  0.280925  0.885960  0.461729  0.079684  0.524113
331  0.586365  0.373679  0.168448  0.262728  0.825650
332  0.712107  0.925364  0.007490  0.050630  0.380239
333  0.278535  0.739713  0.800227  0.998590  0.664965

[334 rows x 5 columns]

In [ ]:
newdf.head(2)

          A         B         C         D         E
0       654  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327

In [ ]:
newdf.loc[0,'A'] = 654455

In [ ]:
newdf.head()

          A         B         C         D         E
0    654455  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047
3  0.512533  0.479802  0.730971  0.335466  0.639821
4  0.918267  0.178420  0.055605  0.958090  0.911738

In [ ]:
newdf.loc[0,0]=654

In [ ]:
newdf.head(2)

          A         B         C         D         E      0
0    654455  0.983401  0.449741  0.077917  0.514068  654.0
1  0.479697  0.661174  0.742659  0.010939  0.172327    NaN

In [ ]:
newdf=newdf.drop(0,axis=1) #remove (row,column)

In [ ]:
newdf.head(2)

          A         B         C         D         E
0    654455  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327

In [ ]:
newdf.loc[[1,2],['C','D']] #return a view from dataframe

          C         D
1  0.742659  0.010939
2  0.660962  0.897872

In [ ]:
newdf.loc[:,['C','D']] #return all rows

            C         D
0    0.449741  0.077917
1    0.742659  0.010939
2    0.660962  0.897872
3    0.730971  0.335466
4    0.055605  0.958090
..        ...       ...
329  0.696239  0.233332
330  0.461729  0.079684
331  0.168448  0.262728
332  0.007490  0.050630
333  0.800227  0.998590

[334 rows x 2 columns]

In [ ]:
newdf.loc[[1,2], :] #return all columns

          A         B         C         D         E
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047

In [ ]:
newdf.loc[:,:] #loc[rows,columns]

            A         B         C         D         E
0      654455  0.983401  0.449741  0.077917  0.514068
1    0.479697  0.661174  0.742659  0.010939  0.172327
2    0.780938  0.533115  0.660962  0.897872  0.061047
3    0.512533  0.479802  0.730971  0.335466  0.639821
4    0.918267  0.178420  0.055605  0.958090  0.911738
..        ...       ...       ...       ...       ...
329  0.168249  0.865366  0.696239  0.233332  0.071001
330  0.280925  0.885960  0.461729  0.079684  0.524113
331  0.586365  0.373679  0.168448  0.262728  0.825650
332  0.712107  0.925364  0.007490  0.050630  0.380239
333  0.278535  0.739713  0.800227  0.998590  0.664965

[334 rows x 5 columns]

In [ ]:
newdf.loc[(newdf['A']<0.3)] #to take data as per conditions

            A         B         C         D         E
11   0.137713  0.957704  0.972615  0.708062  0.092476
13   0.217865  0.256428  0.227319  0.244775  0.607041
14   0.151944  0.072897  0.253383  0.691667  0.767307
15   0.082448  0.309825  0.694632  0.206261  0.025471
20   0.166945  0.392554  0.882218  0.445509  0.040540
..        ...       ...       ...       ...       ...
318  0.095497  0.005579  0.182870  0.638970  0.551706
324  0.279633  0.739553  0.783070  0.861292  0.536798
329  0.168249  0.865366  0.696239  0.233332  0.071001
330  0.280925  0.885960  0.461729  0.079684  0.524113
333  0.278535  0.739713  0.800227  0.998590  0.664965

[109 rows x 5 columns]

In [ ]:
newdf.iloc[0,4] #if work throgh index

0.5140678551557125

In [ ]:
newdf.iloc[[0,5],[1,2]]

          B         C
0  0.983401  0.449741
5  0.252947  0.715182

In [ ]:
newdf.head(3)

          A         B         C         D         E
0    654455  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327
2  0.780938  0.533115  0.660962  0.897872  0.061047

In [ ]:
newdf.drop([1]) #to drop a row

            A         B         C         D         E
0      654455  0.983401  0.449741  0.077917  0.514068
2    0.780938  0.533115  0.660962  0.897872  0.061047
3    0.512533  0.479802  0.730971  0.335466  0.639821
4    0.918267  0.178420  0.055605  0.958090  0.911738
5    0.333351  0.252947  0.715182  0.887943  0.358662
..        ...       ...       ...       ...       ...
329  0.168249  0.865366  0.696239  0.233332  0.071001
330  0.280925  0.885960  0.461729  0.079684  0.524113
331  0.586365  0.373679  0.168448  0.262728  0.825650
332  0.712107  0.925364  0.007490  0.050630  0.380239
333  0.278535  0.739713  0.800227  0.998590  0.664965

[333 rows x 5 columns]

In [ ]:
newdf.drop(['A','C'],axis=1) #to drop a column +dataframe not change becouse newdf= not taken

            B         D         E
0    0.983401  0.077917  0.514068
1    0.661174  0.010939  0.172327
2    0.533115  0.897872  0.061047
3    0.479802  0.335466  0.639821
4    0.178420  0.958090  0.911738
..        ...       ...       ...
329  0.865366  0.233332  0.071001
330  0.885960  0.079684  0.524113
331  0.373679  0.262728  0.825650
332  0.925364  0.050630  0.380239
333  0.739713  0.998590  0.664965

[334 rows x 3 columns]

In [ ]:
newdf.head(2)

          A         B         C         D         E
0    654455  0.983401  0.449741  0.077917  0.514068
1  0.479697  0.661174  0.742659  0.010939  0.172327

In [ ]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 334, dtype: bool

In [ ]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 334, dtype: bool

In [ ]:
newdf.reset_index(drop==True.inplace=True)

SyntaxError: ignored

In [ ]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 334, dtype: bool

In [ ]:
df.loc[1,1]= 125

In [ ]:
df

In [ ]:
df.drop(4,axis=4)

In [ ]:
df.loc[[1,2],['C','D']]

In [ ]:
newdf.loc[(newdf['A'])]