<a href="https://colab.research.google.com/github/Ranjitghadge/Python-Practice/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry', 'Ivy', 'John'],
    'Department': ['HR', 'IT', 'Sales', 'IT', 'HR', 'Finance', 'Sales', 'IT', 'Finance', 'HR'],
    'Salary': [7000, 8500, 6500, 9000, 7200, 8000, 6700, 8800, 7900, 6800],
    'Age': [25, 30, 27, 35, 28, 40, 23, 32, 36, 29],
    'Joining_Date': ['2020-01-10', '2019-05-15', '2021-07-20', '2018-03-10', '2020-10-05',
                     '2017-08-30', '2021-09-15', '2019-12-01', '2018-11-25', '2020-04-14'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M']
}

df = pd.DataFrame(data)

In [2]:
df.head(5)

   Employee_ID     Name Department  Salary  Age Joining_Date Gender
0          101    Alice         HR    7000   25   2020-01-10      F
1          102      Bob         IT    8500   30   2019-05-15      M
2          103  Charlie      Sales    6500   27   2021-07-20      M
3          104    David         IT    9000   35   2018-03-10      M
4          105      Eva         HR    7200   28   2020-10-05      F

In [4]:
df.shape

(10, 7)

In [7]:
round(df[df['Department'] == 'IT']['Salary'].mean(),2)

8766.67

In [10]:
df.sort_values(by='Salary',ascending=False).head(3)

   Employee_ID   Name Department  Salary  Age Joining_Date Gender
3          104  David         IT    9000   35   2018-03-10      M
7          108  Henry         IT    8800   32   2019-12-01      M
1          102    Bob         IT    8500   30   2019-05-15      M

In [13]:
df[df['Joining_Date'].str.contains('2020')]['Name']

0    Alice
4      Eva
9     John
Name: Name, dtype: object

In [15]:
df.groupby('Department')['Salary'].max()

Department
Finance    8000
HR         7200
IT         9000
Sales      6700
Name: Salary, dtype: int64

In [19]:
df[(df['Gender'] == 'F') & (df['Age'] >= 30)]

   Employee_ID Name Department  Salary  Age Joining_Date Gender
8          109  Ivy    Finance    7900   36   2018-11-25      F

In [22]:
df['Gender'].replace({'F':'Female','M':'Male'},inplace=True)

In [27]:
df.isna().sum()

Employee_ID     0
Name            0
Department      0
Salary          0
Age             0
Joining_Date    0
Gender          0
dtype: int64

In [28]:
df.dropna(subset=['Salary'],inplace = True)

In [34]:
df['Experiance'] = pd.Timestamp.now().year - pd.to_datetime(df['Joining_Date']).dt.year

df

,Employee_ID,Name,Department,Salary,Age,Joining_Date,Gender,Experiance
0,101,Alice,HR,7000,25,2020-01-10,Female,4
1,102,Bob,IT,8500,30,2019-05-15,Male,5
2,103,Charlie,Sales,6500,27,2021-07-20,Male,3
3,104,David,IT,9000,35,2018-03-10,Male,6
4,105,Eva,HR,7200,28,2020-10-05,Female,4
5,106,Frank,Finance,8000,40,2017-08-30,Male,7
6,107,Grace,Sales,6700,23,2021-09-15,Female,3
7,108,Henry,IT,8800,32,2019-12-01,Male,5
8,109,Ivy,Finance,7900,36,2018-11-25,Female,6
9,110,John,HR,6800,29,2020-04-14,Male,4

In [37]:
df[df['Department'].isin(['HR','Finance'])]['Salary'].mean()

7380.0

In [45]:
df[df['Department'] == 'Sales'].sort_values(by='Salary',ascending=False).head(1)

   Employee_ID   Name Department  Salary  Age Joining_Date  Gender  Experiance
6          107  Grace      Sales    6700   23   2021-09-15  Female           3

In [48]:
df.pivot_table(columns='Department',index='Gender',values='Salary',aggfunc='mean')

Department  Finance      HR           IT   Sales
Gender
Female       7900.0  7100.0          NaN  6700.0
Male         8000.0  6800.0  8766.666667  6500.0

In [49]:
df[df['Experiance']>3]

   Employee_ID   Name Department  Salary  Age Joining_Date  Gender  Experiance
0          101  Alice         HR    7000   25   2020-01-10  Female           4
1          102    Bob         IT    8500   30   2019-05-15    Male           5
3          104  David         IT    9000   35   2018-03-10    Male           6
4          105    Eva         HR    7200   28   2020-10-05  Female           4
5          106  Frank    Finance    8000   40   2017-08-30    Male           7
7          108  Henry         IT    8800   32   2019-12-01    Male           5
8          109    Ivy    Finance    7900   36   2018-11-25  Female           6
9          110   John         HR    6800   29   2020-04-14    Male           4

In [51]:
df['Joining_Date'] =   pd.to_datetime(df['Joining_Date'])

In [52]:
df

,Employee_ID,Name,Department,Salary,Age,Joining_Date,Gender,Experiance
0,101,Alice,HR,7000,25,2020-01-10,Female,4
1,102,Bob,IT,8500,30,2019-05-15,Male,5
2,103,Charlie,Sales,6500,27,2021-07-20,Male,3
3,104,David,IT,9000,35,2018-03-10,Male,6
4,105,Eva,HR,7200,28,2020-10-05,Female,4
5,106,Frank,Finance,8000,40,2017-08-30,Male,7
6,107,Grace,Sales,6700,23,2021-09-15,Female,3
7,108,Henry,IT,8800,32,2019-12-01,Male,5
8,109,Ivy,Finance,7900,36,2018-11-25,Female,6
9,110,John,HR,6800,29,2020-04-14,Male,4

In [57]:
df[df['Joining_Date'] == df['Joining_Date'].min()]

   Employee_ID   Name Department  Salary  Age Joining_Date Gender  Experiance
5          106  Frank    Finance    8000   40   2017-08-30   Male           7

In [60]:
df['Department'].value_counts(normalize=True) * 100

Department
HR         30.0
IT         30.0
Sales      20.0
Finance    20.0
Name: proportion, dtype: float64

In [59]:
df.groupby('Department')['Employee_ID'].count()

Department
Finance    2
HR         3
IT         3
Sales      2
Name: Employee_ID, dtype: int64

In [63]:
df['Age'].median()

29.5

In [65]:
df.drop_duplicates(['Name','Department'],inplace= True)

In [66]:
df

,Employee_ID,Name,Department,Salary,Age,Joining_Date,Gender,Experiance
0,101,Alice,HR,7000,25,2020-01-10,Female,4
1,102,Bob,IT,8500,30,2019-05-15,Male,5
2,103,Charlie,Sales,6500,27,2021-07-20,Male,3
3,104,David,IT,9000,35,2018-03-10,Male,6
4,105,Eva,HR,7200,28,2020-10-05,Female,4
5,106,Frank,Finance,8000,40,2017-08-30,Male,7
6,107,Grace,Sales,6700,23,2021-09-15,Female,3
7,108,Henry,IT,8800,32,2019-12-01,Male,5
8,109,Ivy,Finance,7900,36,2018-11-25,Female,6
9,110,John,HR,6800,29,2020-04-14,Male,4

Exercies

In [67]:
import pandas as pd

# Create the first DataFrame: sales_data
sales_data = pd.DataFrame({
    'OrderID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'CustomerID': [101, 102, 101, 103, 104, 105, 102, 106, 107, 108],
    'Product': ['Laptop', 'Phone', 'Printer', 'Monitor', 'Chair', 'Desk', 'Laptop', 'Table', 'Phone', 'Sofa'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Furniture', 'Furniture', 'Electronics', 'Furniture', 'Electronics', 'Furniture'],
    'Quantity': [2, 1, 1, 1, 4, 2, 1, 3, 2, 1],
    'Price': [1200, 800, 150, 300, 100, 450, 1200, 200, 800, 700],
    'Date': pd.to_datetime(['2024-01-01', '2024-01-03', '2024-01-05', '2024-01-07', '2024-01-09', '2024-01-10', '2024-01-12', '2024-01-14', '2024-01-16', '2024-01-18']),
    'Region': ['East', 'West', 'East', 'North', 'South', 'South', 'West', 'North', 'East', 'West']
})

# Create the second DataFrame: customer_data
customer_data = pd.DataFrame({
    'CustomerID': [101, 102, 103, 104, 105, 106, 107, 108],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah'],
    'JoinDate': pd.to_datetime(['2023-06-01', '2023-07-15', '2023-08-10', '2023-09-05', '2023-10-20', '2023-11-12', '2024-01-02', '2024-01-15'])
})

# Display DataFrames
print("Sales Data:")
print(sales_data)

print("\nCustomer Data:")
print(customer_data)

Sales Data:
   OrderID  CustomerID  Product     Category  Quantity  Price       Date  \
0        1         101   Laptop  Electronics         2   1200 2024-01-01
1        2         102    Phone  Electronics         1    800 2024-01-03
2        3         101  Printer  Electronics         1    150 2024-01-05
3        4         103  Monitor  Electronics         1    300 2024-01-07
4        5         104    Chair    Furniture         4    100 2024-01-09
5        6         105     Desk    Furniture         2    450 2024-01-10
6        7         102   Laptop  Electronics         1   1200 2024-01-12
7        8         106    Table    Furniture         3    200 2024-01-14
8        9         107    Phone  Electronics         2    800 2024-01-16
9       10         108     Sofa    Furniture         1    700 2024-01-18

  Region
0   East
1   West
2   East
3  North
4  South
5  South
6   West
7  North
8   East
9   West

Customer Data:
   CustomerID CustomerName   JoinDate
0         101        Alice 2023-06-01
1         102          Bob 2023-07-15
2         103      Charlie 2023-08-10
3         104        David 2023-09-05
4         105          Eve 2023-10-20
5         106        Frank 2023-11-12
6         107        Grace 2024-01-02
7         108       Hannah 2024-01-15

Join Operation
Q1: Merge sales_data and customer_data on CustomerID to get a DataFrame that includes all columns from both DataFrames.

In [70]:
pd.merge(sales_data,customer_data,on='CustomerID',how='inner')

,OrderID,CustomerID,Product,Category,Quantity,Price,Date,Region,CustomerName,JoinDate
0,1,101,Laptop,Electronics,2,1200,2024-01-01,East,Alice,2023-06-01
1,3,101,Printer,Electronics,1,150,2024-01-05,East,Alice,2023-06-01
2,2,102,Phone,Electronics,1,800,2024-01-03,West,Bob,2023-07-15
3,7,102,Laptop,Electronics,1,1200,2024-01-12,West,Bob,2023-07-15
4,4,103,Monitor,Electronics,1,300,2024-01-07,North,Charlie,2023-08-10
5,5,104,Chair,Furniture,4,100,2024-01-09,South,David,2023-09-05
6,6,105,Desk,Furniture,2,450,2024-01-10,South,Eve,2023-10-20
7,8,106,Table,Furniture,3,200,2024-01-14,North,Frank,2023-11-12
8,9,107,Phone,Electronics,2,800,2024-01-16,East,Grace,2024-01-02
9,10,108,Sofa,Furniture,1,700,2024-01-18,West,Hannah,2024-01-15

GroupBy with Multiple Aggregations
Q2: Group sales_data by Region and Category, then calculate the total Quantity and average Price.

In [68]:
sales_data.head(5)

,OrderID,CustomerID,Product,Category,Quantity,Price,Date,Region
0,1,101,Laptop,Electronics,2,1200,2024-01-01,East
1,2,102,Phone,Electronics,1,800,2024-01-03,West
2,3,101,Printer,Electronics,1,150,2024-01-05,East
3,4,103,Monitor,Electronics,1,300,2024-01-07,North
4,5,104,Chair,Furniture,4,100,2024-01-09,South

In [69]:
customer_data.head(5)

   CustomerID CustomerName   JoinDate
0         101        Alice 2023-06-01
1         102          Bob 2023-07-15
2         103      Charlie 2023-08-10
3         104        David 2023-09-05
4         105          Eve 2023-10-20