<a href="https://colab.research.google.com/github/Ranjitghadge/Python-Practice/blob/main/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic

Integers – This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).

In [ ]:
a = 5
print("Type of a: ", type(a))

Type of a:  <class 'int'>

In [ ]:
type(5.1)

float

In [ ]:
int(5.1245)

5

In [ ]:
bool(-15884)

True

Float – This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.

In [ ]:
b = 5.0
print("\nType of b: ", type(b))

Type of b:  <class 'float'>

  Complex Numbers – Complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j

In [ ]:
c = 2 + 4j
print("\nType of c: ", type(c))

Type of c:  <class 'complex'>

### Arithmatic Operations

In [ ]:
val1 = 2
val2 = 3

# using the addition operator
res = val1 + val2
print(res)

5

In [ ]:
val1 = 2
val2 = 3

# using the subtraction operator
res = val1 - val2
print(res)

-1

In [ ]:
val1 = 2
val2 = 3

# using the multiplication operator
res = val1 * val2
print(res)

6

In [ ]:
val1 = 3
val2 = 2

# using the division operator
res = val1 / val2
print(res)

1.5

In [ ]:
val1 = 3
val2 = 2

# using the modulus operator
res = val1 % val2
print(res)

1

In [ ]:
val1 = 2
val2 = 3

# using the exponentiation operator
res = val1 ** val2
print(res)

8

In [ ]:
val1 = 3
val2 = 2

# using the floor division
res = val1 // val2
print(res)

1

# String

### Creating String

In [ ]:
s ='hello'
s ="hello"
s = '''hello'''

print(s)

hello

In [ ]:
#example
"it's raining outside"

"it's raining outside"

### Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[10])

d

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-5])

w

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
# Slicing
s = 'hello world'
print(s[0:5])

hello

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

### Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: ignored

### Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

Relational Operations

In [ ]:
'delhi' != 'delhi'

False

In [ ]:
'mumbai' > 'pune'
# lexiographically

False

In [ ]:
'Pune' > 'pune'

False

Logical Operations

In [ ]:
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'' and 'world'
#empty string act as False string act as True

''

In [ ]:
not 'hello'

False

### Loops on Strings

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
'D' in 'delhi'

False

Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello word')

10

In [ ]:
max('hello') #base on as key

'o'

In [ ]:
min('hello')

'e'

In [ ]:
sorted('hello') #output list

['e', 'h', 'l', 'l', 'o']

In [ ]:
sorted('hello',reverse=True) #output list

['o', 'l', 'l', 'h', 'e']

### Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [ ]:
s.title()

'Hello World'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
'Hello Wolrd'.lower()

'hello wolrd'

In [ ]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

Count/Find/Index

In [ ]:
'my name is nitish'.count('i')

3

In [ ]:
'my name is nitish'.find('n')

3

In [ ]:
'my name is nitish'.index('n') #same as index

3

endswith/startswith

In [ ]:
'my name is nitish'.endswith('ish')

True

In [ ]:
'my name is nitish'.startswith('1my')

False

Format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

False

In [ ]:
'nitish'.isalpha()

True

In [ ]:
'123'.isdigit()

True

In [ ]:
'first-name'.isidentifier()

False

Split/Join

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [ ]:
"_".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi_my_name_is_nitish'

Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

Strip

In [ ]:
'nitish                           '.strip()

'nitish'

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the string'ranjit'
length of string is 8

In [ ]:
# Extract username from a given email.

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailranjitghadge555@gmail.com
ranjitghadge555

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailkkkk
what would like to search for5
frequency 0

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringjjjjjjjj
what would like to remove5
jjjjjjjj

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the string5
Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the string
['']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the string5
5

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number5
5
<class 'str'>

# List

**What are Lists**

List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.

**Array Vs Lists**

Fixed Vs Dynamic Size

Convenience -> Hetrogeneous

Speed of Execution

Memory

In [ ]:
L = [1,2,3]                 #list work like a referncial array

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

133452900508480
133453509869808
133453509869840
133453509869872
133453509869808
133453509869840
133453509869872

### Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [ ]:
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

### Creating a List

In [ ]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

### Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
print(L[0][0][1])

# Slicing
T = [1,2,3,4,5,6]
print(T[0])
print(T[-1])
print(T[::-1])
print(T[3::-1])

2
1
6
[6, 5, 4, 3, 2, 1]
[4, 3, 2, 1]

### Adding Items to a List

In [ ]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

L.append(6)
print(L)

[1, 2, 3, 4, 5, True]
[1, 2, 3, 4, 5, True, 6]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
L = [1,2,3,4,5]      #(location,no)

L.insert(2,100)
print(L)

[1, 2, 100, 3, 4, 5]

### Editing items in a List

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]
L[0] = 50
print(L)

[50, 200, 300, 400, 500]

### Deleting items from a List

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]
print(L)
# slicing
del L[1:3]
print(L)

del L[0]
print(L)

[1, 2, 3, 4]
[1, 4]
[4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

L.remove(3)
print(L)

[1, 2, 3, 4]
[1, 2, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop(0)

print(L)

[2, 3, 4, 5]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

### Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

### List Functions

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()  #do permanantly
print(L)
L

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

[0, 1, 2, 5, 7]

In [ ]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
133453302596032
[2, 1, 5, 7, 0]
133452894646656

### List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### List Comprehension:

# New Section

Provide a concice way to create a list it consist bracket containing expression follow by for clouse then, zero or mmore for or if clauses this expression can be anything you can put all kinds of object in list.

In [ ]:
def sqr(nums):
  l=[]
  for i in nums:
    l.append(i*i)
  return l

nums=[1,2,4,5,6]
print(sqr(nums))

[1, 4, 16, 25, 36]

In [ ]:
list1=[i*i for i in nums]
print(list1)

[1, 4, 16, 25, 36]

In [ ]:
#If need even nos square
list1=[i*i for i in nums if i%2==0 ]
print(list1)

[4, 16, 36]

### 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

### Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x796009010280>>]

### Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
t5[-1][0]

4

In [ ]:
print(t3[::-1])

(4, 3, 2, 1)

### Editing items

In [ ]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: ignored

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [ ]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: ignored

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

### Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
# index
t.index(50)

ValueError: ignored

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

ValueError: ignored

In [ ]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [ ]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 3}

TypeError: ignored

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: ignored

### Adding Items

In [ ]:
S = {1,2,3,4}
# add
# S.add(5)
# print(S)
# update
S.update([5,6,7])
print(S)

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
# print(s)
# del s[0]
# print(s)
# discard
# s.discard(50)
# print(s)
# remove
# s.remove(50)
# print(s)
# pop
# s.pop() #random delete any item
# clear
s.clear()
print(s)

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
a = s1 - s2
b= s2 - s1
print(a)
print(b)
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

In [ ]:
s.union(s1)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

### Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

s1.update(s2)
print(s1)
print(s2)

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

### Frozenset
Frozen set is just an immutable version of a Python set object

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

### Set Comprehension

In [ ]:
# examples

{i**2 for i in range(1,11) if i>5}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [ ]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
print(d5)
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'rahul'}
{'name': 'nitish', (1, 2, 3): 2}

### Accessing items

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

s['subjects']['maths']

67

### Adding key-value pair

In [ ]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
# popitem
d.popitem() #remove any random element permanantly
# d.popitem()
# print(d)

('gender', 'male')

In [ ]:
# del  #remove any one element permanatly
del d['name']
print(d)

{'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
# clear #to clear thi dict
d.clear()
print(d)

{}

KeyError: ignored

In [ ]:
del s['subjects']['maths']
s

KeyError: ignored

### Editing key-value pair

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

In [ ]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Editing key-value pair

In [ ]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary Operations

- Membership
- Iteration

In [ ]:
print(s)

'name' in s
'nitish' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

False

In [ ]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

### Dictionary Functions

In [ ]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [ ]:
# items/keys/values
print(d)

print(d.items()) #extract key value pair
print(d.keys()) #extract only keys
print(d.values()) #Extract only values

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

dict.clear()

In [ ]:
text = {1: "geeks", 2: "for"}

text.clear()
print('text =', text)

dict.copy()

In [ ]:
original = {1: 'geeks', 2: 'for'}

new = original.copy()



print('new: ', new)
print('original: ', original)

dict.fromkeys()

In [ ]:
seq = ('a', 'b', 'c')
print(dict.fromkeys(seq, None))

dict.get()

In [ ]:
d = {'coding': 'good', 'thinking': 'better'}
print(d.get('coding'))

In [ ]:
num={'one':1,'two':2,'three':3}
for word,num in num.items():
    if num%2==0:
        print(num)

In [ ]:
num={'one':1,'two':2,'three':3}
for n in num.values():
    print(n)

In [ ]:
num={'one':1,'two':2,'three':3}
for n in num.keys():
    print(n)

In [ ]:
num.values()

In [ ]:
num.keys()

In [ ]:
num.items()

Pandas DataFrame from List of Dicts

In [ ]:
import pandas as pd

data = [{'Ranjit': '86','Rasika': '74', 'Rachna':'80', 'Rupesh':'85'},
        {'Ranjit': '70','Rasika': '60', 'Rachna':'50', 'Rupesh':'60'}]

df = pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd

data = [{'Ranjit': '86','Rasika': '74', 'Rachna':'80', 'Rupesh':'85'},
        {'Ranjit': '70','Rasika': '60', 'Rachna':'50', 'Rupesh':'60'}]

labels = ['a','b']
df = pd.DataFrame(data,index=labels)
print(df)

# Other Functions

## Enumerate

The enumerate() function is a built-in Python function that provides an easy way to iterate over elements in an iterable (such as a list, tuple, or string) while also keeping track of the index or position of each element. It returns an iterator that generates pairs of the form (index, element).

Here's an example to illustrate how the enumerate() function works:

In [ ]:
fruits = ['apple', 'banana', 'orange', 'grape']

for index, fruit in enumerate(fruits):
    print(index, fruit)

# Pandas

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'George', 'Helen', 'Irene', 'Jack'],
    'Age': [25, 32, 18, 47, 29, 36, 21, 45, 28, 33],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male'],
    'Country': ['USA', 'Canada', 'USA', 'Australia', 'UK', 'Canada', 'USA', 'Australia', 'UK', 'USA'],
    'Salary': [50000, 75000, 40000, 90000, 60000, 80000, 55000, 100000, 65000, 70000],
    'Department': ['Marketing', 'Finance', 'Marketing', 'IT', 'IT', 'HR', 'Marketing', 'IT', 'HR', 'Finance'],
    'Years of Experience': [3, 8, 1, 18, 6, 10, 2, 22, 5, 7],
    'Education Level': ['Bachelor', 'Master', 'High School', 'PhD', 'Bachelor', 'Master', 'Bachelor', 'PhD', 'Bachelor', 'Master']
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Gender    Country  Salary Department  Years of Experience  \
0    Alice   25  Female        USA   50000  Marketing                    3
1      Bob   32    Male     Canada   75000    Finance                    8
2  Charlie   18    Male        USA   40000  Marketing                    1
3    David   47    Male  Australia   90000         IT                   18
4    Emily   29  Female         UK   60000         IT                    6
5    Frank   36    Male     Canada   80000         HR                   10
6   George   21    Male        USA   55000  Marketing                    2
7    Helen   45  Female  Australia  100000         IT                   22
8    Irene   28  Female         UK   65000         HR                    5
9     Jack   33    Male        USA   70000    Finance                    7

  Education Level
0        Bachelor
1          Master
2     High School
3             PhD
4        Bachelor
5          Master
6        Bachelor
7             PhD
8        Bachelor
9          Master

In [ ]:
#For checking a data type
df.dtypes

Name                   object
Age                     int64
Gender                 object
Country                object
Salary                  int64
Department             object
Years of Experience     int64
Education Level        object
dtype: object

In [ ]:
df.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
0,Alice,25,Female,USA,50000,Marketing,3,Bachelor
1,Bob,32,Male,Canada,75000,Finance,8,Master
2,Charlie,18,Male,USA,40000,Marketing,1,High School
3,David,47,Male,Australia,90000,IT,18,PhD
4,Emily,29,Female,UK,60000,IT,6,Bachelor

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 10 non-null     object
 1   Age                  10 non-null     int64
 2   Gender               10 non-null     object
 3   Country              10 non-null     object
 4   Salary               10 non-null     int64
 5   Department           10 non-null     object
 6   Years of Experience  10 non-null     int64
 7   Education Level      10 non-null     object
dtypes: int64(3), object(5)
memory usage: 768.0+ bytes

In [ ]:
#overall discriptive summary of dataframe

df.describe()

             Age         Salary  Years of Experience
count  10.000000      10.000000            10.000000
mean   31.400000   68500.000000             8.200000
std     9.418658   18416.478129             6.860515
min    18.000000   40000.000000             1.000000
25%    25.750000   56250.000000             3.500000
50%    30.500000   67500.000000             6.500000
75%    35.250000   78750.000000             9.500000
max    47.000000  100000.000000            22.000000

In [ ]:
df.shape #for no of rows & columns

(10, 8)

In [ ]:
df.value_counts() #view unique values & counts

Name     Age  Gender  Country    Salary  Department  Years of Experience  Education Level
Alice    25   Female  USA        50000   Marketing   3                    Bachelor           1
Bob      32   Male    Canada     75000   Finance     8                    Master             1
Charlie  18   Male    USA        40000   Marketing   1                    High School        1
David    47   Male    Australia  90000   IT          18                   PhD                1
Emily    29   Female  UK         60000   IT          6                    Bachelor           1
Frank    36   Male    Canada     80000   HR          10                   Master             1
George   21   Male    USA        55000   Marketing   2                    Bachelor           1
Helen    45   Female  Australia  100000  IT          22                   PhD                1
Irene    28   Female  UK         65000   HR          5                    Bachelor           1
Jack     33   Male    USA        70000   Finance     7                    Master             1
dtype: int64

In [ ]:
df['Country'].value_counts()

USA          4
Canada       2
Australia    2
UK           2
Name: Country, dtype: int64

In [ ]:
df.apply (pd.Series.value_counts) #view uniue values & counts for all columns

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
21,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
25,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
40000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
50000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
55000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
60000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
65000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
70000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
75000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
80000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
90000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
100000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Alice,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
Bachelor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Bob,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
Charlie,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
David,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Emily,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Female,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
Finance,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
Frank,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
George,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HR,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
Helen,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
IT,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
Irene,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jack,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Male,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN
Marketing,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
Master,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
PhD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
UK,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN

In [ ]:
#Enter string in index
df.index=['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']
df

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor
2nd,Bob,32,Male,Canada,75000,Finance,8,Master
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School
4th,David,47,Male,Australia,90000,IT,18,PhD
5th,Emily,29,Female,UK,60000,IT,6,Bachelor
6th,Frank,36,Male,Canada,80000,HR,10,Master
7th,George,21,Male,USA,55000,Marketing,2,Bachelor
8th,Helen,45,Female,Australia,100000,IT,22,PhD
9th,Irene,28,Female,UK,65000,HR,5,Bachelor
10th,Jack,33,Male,USA,70000,Finance,7,Master

In [ ]:
df.index

Index(['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'], dtype='object')

In [ ]:
df.columns

Index(['Name', 'Age', 'Gender', 'Country', 'Salary', 'Department',
       'Years of Experience', 'Education Level'],
      dtype='object')

In [ ]:
df['Age'] # return column with label col as series

1st     25
2nd     32
3rd     18
4th     47
5th     29
6th     36
7th     21
8th     45
9th     28
10th    33
Name: Age, dtype: int64

In [ ]:
df[['Age','Salary']] # return column with label col as dataframe

      Age  Salary
1st    25   50000
2nd    32   75000
3rd    18   40000
4th    47   90000
5th    29   60000
6th    36   80000
7th    21   55000
8th    45  100000
9th    28   65000
10th   33   70000

In [ ]:
df.to_numpy()

array([['Alice', 25, 'Female', 'USA', 50000, 'Marketing', 3, 'Bachelor'],
       ['Bob', 32, 'Male', 'Canada', 75000, 'Finance', 8, 'Master'],
       ['Charlie', 18, 'Male', 'USA', 40000, 'Marketing', 1,
        'High School'],
       ['David', 47, 'Male', 'Australia', 90000, 'IT', 18, 'PhD'],
       ['Emily', 29, 'Female', 'UK', 60000, 'IT', 6, 'Bachelor'],
       ['Frank', 36, 'Male', 'Canada', 80000, 'HR', 10, 'Master'],
       ['George', 21, 'Male', 'USA', 55000, 'Marketing', 2, 'Bachelor'],
       ['Helen', 45, 'Female', 'Australia', 100000, 'IT', 22, 'PhD'],
       ['Irene', 28, 'Female', 'UK', 65000, 'HR', 5, 'Bachelor'],
       ['Jack', 33, 'Male', 'USA', 70000, 'Finance', 7, 'Master']],
      dtype=object)

In [ ]:
# Let us get a subset which consists of first 8 rows and first 4 columns
df.iloc[:,:]

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor
2nd,Bob,32,Male,Canada,75000,Finance,8,Master
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School
4th,David,47,Male,Australia,90000,IT,18,PhD
5th,Emily,29,Female,UK,60000,IT,6,Bachelor
6th,Frank,36,Male,Canada,80000,HR,10,Master
7th,George,21,Male,USA,55000,Marketing,2,Bachelor
8th,Helen,45,Female,Australia,100000,IT,22,PhD
9th,Irene,28,Female,UK,65000,HR,5,Bachelor
10th,Jack,33,Male,USA,70000,Finance,7,Master

In [ ]:
df.sort_index(axis=0,ascending=True) #axis=0 column, axis=1 row

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
10th,Jack,33,Male,USA,70000,Finance,7,Master
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor
2nd,Bob,32,Male,Canada,75000,Finance,8,Master
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School
4th,David,47,Male,Australia,90000,IT,18,PhD
5th,Emily,29,Female,UK,60000,IT,6,Bachelor
6th,Frank,36,Male,Canada,80000,HR,10,Master
7th,George,21,Male,USA,55000,Marketing,2,Bachelor
8th,Helen,45,Female,Australia,100000,IT,22,PhD
9th,Irene,28,Female,UK,65000,HR,5,Bachelor

iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

loc gets rows (or columns) with particular labels from the index.

In [ ]:
df.loc[:,['Age','Gender']] #return all rows

      Age  Gender
1st    25  Female
2nd    32    Male
3rd    18    Male
4th    47    Male
5th    29  Female
6th    36    Male
7th    21    Male
8th    45  Female
9th    28  Female
10th   33    Male

In [ ]:
df.loc[['1st','2nd'], :] #return all columns

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor
2nd,Bob,32,Male,Canada,75000,Finance,8,Master

In [ ]:
df.loc[:,:] #loc[rows,columns]

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor
2nd,Bob,32,Male,Canada,75000,Finance,8,Master
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School
4th,David,47,Male,Australia,90000,IT,18,PhD
5th,Emily,29,Female,UK,60000,IT,6,Bachelor
6th,Frank,36,Male,Canada,80000,HR,10,Master
7th,George,21,Male,USA,55000,Marketing,2,Bachelor
8th,Helen,45,Female,Australia,100000,IT,22,PhD
9th,Irene,28,Female,UK,65000,HR,5,Bachelor
10th,Jack,33,Male,USA,70000,Finance,7,Master

In [ ]:
# Now let us subset our dataframe in which we want to have first 8 rows identified with their rows labels and some named columns
#df.loc[5:8,['Age','Country']]

In [ ]:
df.loc[:,['Country']]

        Country
1st         USA
2nd      Canada
3rd         USA
4th   Australia
5th          UK
6th      Canada
7th         USA
8th   Australia
9th          UK
10th        USA

In [ ]:
df.iloc[0,0] #if work throgh index(integer based undexing)

'Alice'

In [ ]:
df[['Age','Country']]

      Age    Country
1st    25        USA
2nd    32     Canada
3rd    18        USA
4th    47  Australia
5th    29         UK
6th    36     Canada
7th    21        USA
8th    45  Australia
9th    28         UK
10th   33        USA

Boolean Indexing

In [ ]:
df['Country']=='USA'

1st      True
2nd     False
3rd      True
4th     False
5th     False
6th     False
7th      True
8th     False
9th     False
10th     True
Name: Country, dtype: bool

In [ ]:
USA_WALE=df[df['Country']=='USA']
USA_WALE.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School
7th,George,21,Male,USA,55000,Marketing,2,Bachelor
10th,Jack,33,Male,USA,70000,Finance,7,Master

In [ ]:
USA_WALE=df[df['Country'] !='USA']
USA_WALE.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
2nd,Bob,32,Male,Canada,75000,Finance,8,Master
4th,David,47,Male,Australia,90000,IT,18,PhD
5th,Emily,29,Female,UK,60000,IT,6,Bachelor
6th,Frank,36,Male,Canada,80000,HR,10,Master
8th,Helen,45,Female,Australia,100000,IT,22,PhD

In [ ]:
long_age= df[df['Age']>30]
long_age

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level
2nd,Bob,32,Male,Canada,75000,Finance,8,Master
4th,David,47,Male,Australia,90000,IT,18,PhD
6th,Frank,36,Male,Canada,80000,HR,10,Master
8th,Helen,45,Female,Australia,100000,IT,22,PhD
10th,Jack,33,Male,USA,70000,Finance,7,Master

In [ ]:
df['half_Age']= df['Age']*0.5

In [ ]:
df.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,half_Age
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,12.5
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,16.0
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,9.0
4th,David,47,Male,Australia,90000,IT,18,PhD,23.5
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,14.5

In [ ]:
df['Total_Income']=df['Salary']*df['Years of Experience']

In [ ]:
df.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,half_Age,Total_Income
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,12.5,150000
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,16.0,600000
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,9.0,40000
4th,David,47,Male,Australia,90000,IT,18,PhD,23.5,1620000
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,14.5,360000

In [ ]:
#Drop the column

df.drop(['half_Age'],axis = 1,inplace=True)

In [ ]:
df.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000

In [ ]:
df.drop(['1st','2nd']) #to drop a row

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000

In [ ]:
df.drop(['Age'],axis=1) #To drop a column

In [ ]:
# Find the sum of values in a column
df['Salary'].sum()

In [ ]:
#set column as index column
df.set_index('Name', inplace=True)

In [ ]:
df.head()

In [ ]:
a=df[df['Age']==32]
a

apply() method applies a function to every row in a pandas dataframe

In [ ]:
#uppercase
def to_uppercase(column):
    return column.upper()

In [ ]:
df['Capital_Name']=df['Country'].apply(to_uppercase)

In [ ]:
df.head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK

We can also sort our dataframe by some column values in either an ascending or descending order

In [ ]:
# Sort values in descending order
df.sort_values('Age', ascending=False)

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA

In [ ]:
# We can also sort by the combination of two columns
df.sort_values(['Age','Salary'], ascending=[False,True]).head()

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA

In [ ]:
# Find the list of unique values in a column
list(df['Country'].unique())

['USA', 'Canada', 'Australia', 'UK']

In [ ]:
df['Country'].unique()

array(['USA', 'Canada', 'Australia', 'UK'], dtype=object)

In [ ]:
#df.columns=['N','A','B','C','D','E','F','G','H'] #rename of column
df

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
df.isnull() #checks for null values, return boolean array

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,False,False,False,False,False,False,False,False,False,False
2nd,False,False,False,False,False,False,False,False,False,False
3rd,False,False,False,False,False,False,False,False,False,False
4th,False,False,False,False,False,False,False,False,False,False
5th,False,False,False,False,False,False,False,False,False,False
6th,False,False,False,False,False,False,False,False,False,False
7th,False,False,False,False,False,False,False,False,False,False
8th,False,False,False,False,False,False,False,False,False,False
9th,False,False,False,False,False,False,False,False,False,False
10th,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.notnull() #opposite to isnull

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,True,True,True,True,True,True,True,True,True,True
2nd,True,True,True,True,True,True,True,True,True,True
3rd,True,True,True,True,True,True,True,True,True,True
4th,True,True,True,True,True,True,True,True,True,True
5th,True,True,True,True,True,True,True,True,True,True
6th,True,True,True,True,True,True,True,True,True,True
7th,True,True,True,True,True,True,True,True,True,True
8th,True,True,True,True,True,True,True,True,True,True
9th,True,True,True,True,True,True,True,True,True,True
10th,True,True,True,True,True,True,True,True,True,True

In [ ]:
df.dropna() #drop all rows contain null values

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
df.dropna(axis=1) #drop all columns contain null values

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
df.dropna(axis=1,thresh=1) #drop all columns contain null values less than n

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
df.fillna(df.mean()) #replace all null values with mean

<ipython-input-491-cf4ef7f51b6a>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean()) #replace all null values with mean

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
#df.astype(float) #Convert datatype of series to float

In [ ]:
df.replace(1,'one') #replace all values equal to 1 with one

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,one,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
df.rename(columns={'N':'New Age'}) #rename of selected column

,Name,Age,Gender,Country,Salary,Department,Years of Experience,Education Level,Total_Income,Capital_Name
1st,Alice,25,Female,USA,50000,Marketing,3,Bachelor,150000,USA
2nd,Bob,32,Male,Canada,75000,Finance,8,Master,600000,CANADA
3rd,Charlie,18,Male,USA,40000,Marketing,1,High School,40000,USA
4th,David,47,Male,Australia,90000,IT,18,PhD,1620000,AUSTRALIA
5th,Emily,29,Female,UK,60000,IT,6,Bachelor,360000,UK
6th,Frank,36,Male,Canada,80000,HR,10,Master,800000,CANADA
7th,George,21,Male,USA,55000,Marketing,2,Bachelor,110000,USA
8th,Helen,45,Female,Australia,100000,IT,22,PhD,2200000,AUSTRALIA
9th,Irene,28,Female,UK,65000,HR,5,Bachelor,325000,UK
10th,Jack,33,Male,USA,70000,Finance,7,Master,490000,USA

In [ ]:
df1.append(df2)  #add rows in end of df1 to the df2, column should be identical

NameError: ignored

In [ ]:
pd.concat([df1,df2],axis=1) #add rows in end of df1 to the df2, rows should be identical

**FILTER, SORT & GROUPBY **

In [ ]:
df

NameError: ignored

In [ ]:
df[df['Age']>20] #rows where age greater than 20

In [ ]:
df[(df['Age']>20) & (df['Age']<30)] #between

In [ ]:
df.sort_values('Age') #sort values also add ascending

In [ ]:
df.groupby('Gender') #create groupby object for values

In [ ]:
df.groupby('Gender'),['Country'] #for multiple

### Set_option

The set_option() function in pandas is used to modify various options related to the behavior and display settings of pandas objects.
The syntax for set_option() is: pandas.set_option(option, value).
option refers to the name of the option you want to set, and value is the new value for that option.
Some commonly used options include:
display.max_rows: Sets the maximum number of rows to be displayed when printing a DataFrame.
display.max_columns: Sets the maximum number of columns to be displayed.
display.precision: Sets the number of decimal places to display.
mode.chained_assignment: Sets the behavior for chained assignments.
Use pd.set_option(option, value) to set a specific option. For example: pd.set_option('display.max_rows', 10).
To revert an option back to its default value, you can use the reset_option() function: pd.reset_option(option). For example: pd.reset_option('display.max_rows').
The set_option() function affects the display settings for all subsequent pandas objects in the code unless explicitly changed again.
Import the pandas library before using set_option(): import pandas as pd.

In [ ]:
import pandas as pd

# Set the maximum number of rows to be displayed
pd.set_option('display.max_rows', 10)

# Create a DataFrame
data = {
    'Name': ['John', 'Emma', 'Ryan', 'Emily', 'Daniel'],
    'Age': [25, 28, 22, 30, 27],
    'City': ['New York', 'Paris', 'London', 'Sydney', 'Tokyo'],
}

df = pd.DataFrame(data)

# Display the DataFrame with the modified option
print(df)

# Revert the option back to its default value
pd.reset_option('display.max_rows')

Statistical

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.corr()

In [ ]:
df.count()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.median()

In [ ]:
df.std()

### Pivot Table

In [ ]:
import pandas as pd

# Syntax of Pandas pivot table.
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc=’mean’, fill_value=None, margins=False, dropna=True, margins_name=’All’, observed=False)

# Another Syntax
DataFrame.pivot(index=None, columns=None, values=None)

SyntaxError: ignored

In [ ]:

# Example 1 : # Create a pivot table using index
p_table = pd.pivot_table(df, index=['Gender'])

# Example 2 : Create a pivot table using multiple index
p_table = pd.pivot_table(df, index=['Gender', 'Category'])

# Example 3 : Create pivot table using multiple aggfunc
p_table = pd.pivot_table(df, index=['Gender'], aggfunc= {'Fee': 'mean', 'Discount': 'sum'})

# Example 4 : Create table using value parameter
p_table = pd.pivot_table(df, index = ['Gender'], values = ['Discount'], aggfunc = 'mean' )

In [ ]:

import pandas as pd
# Create a DataFrame
df = pd.DataFrame({'Student Names' : ['Jenny', 'Singh', 'Charles', 'Richard', 'Veena'],
                   'Category' : ['Online', 'Offline', 'Offline', 'Offline', 'Online'],
                   'Gender' : ['Female', 'Male', 'Male', 'Male', 'Female'],
                  'Courses': ['Java', 'Spark', 'PySpark','Hadoop','C'],
                   'Fee': [15000, 17000, 27000, 29000, 12000],
                   'Discount': [1100, 800, 1000, 1600, 600]})
print(df)

  Student Names Category  Gender  Courses    Fee  Discount
0         Jenny   Online  Female     Java  15000      1100
1         Singh  Offline    Male    Spark  17000       800
2       Charles  Offline    Male  PySpark  27000      1000
3       Richard  Offline    Male   Hadoop  29000      1600
4         Veena   Online  Female        C  12000       600

 Group the Data into Pivot Table using Index Param

In [ ]:

# Create a pivot table using index
p_table = pd.pivot_table(df, index=['Gender'])
print(p_table)

           Discount           Fee
Gender
Female   850.000000  13500.000000
Male    1133.333333  24333.333333

<ipython-input-497-6fe5dc868ec9>:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  p_table = pd.pivot_table(df, index=['Gender'])

Create Pivot Table Using Multiple Index

In [ ]:
# Create a pivot table using multiple index
p_table = pd.pivot_table(df, index=['Gender', 'Category'])
print(p_table)

                    Discount           Fee
Gender Category
Female Online     850.000000  13500.000000
Male   Offline   1133.333333  24333.333333

<ipython-input-498-ad7c999ff2e4>:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  p_table = pd.pivot_table(df, index=['Gender', 'Category'])

Use Multiple Aggregation functions

In [ ]:
# Create pivot table using multiple aggfunc
p_table = pd.pivot_table(df, index=['Gender'], aggfunc= {'Fee': 'mean', 'Discount': 'sum'})
print(p_table)

        Discount           Fee
Gender
Female      1700  13500.000000
Male        3400  24333.333333

Create Pandas Pivot Table with Values Parameter

In [ ]:
# Create table using value parameter
p_table = pd.pivot_table(df, index = ['Gender'], values = ['Discount'], aggfunc = 'mean' )
print(p_table)

           Discount
Gender
Female   850.000000
Male    1133.333333

Create Pandas Pivot Table Using Column Param

In [ ]:

# Create table using column parameter
p_table = pd.pivot_table(df, index= ['Gender'], columns = ['Fee'], values=['Discount'], aggfunc = 'mean' )
print(p_table)

       Discount
Fee       12000   15000  17000   27000   29000
Gender
Female    600.0  1100.0    NaN     NaN     NaN
Male        NaN     NaN  800.0  1000.0  1600.0

Fill the Missing Data in Pandas Pivot Table

In [ ]:

# Fill the NaN value using fill_value
p_table = pd.pivot_table(df, index= ['Gender'], columns = ['Fee'], values=['Discount'], aggfunc = 'mean', fill_value = 0 )
print(p_table)

       Discount
Fee       12000 15000 17000 27000 29000
Gender
Female      600  1100     0     0     0
Male          0     0   800  1000  1600

### Apply Method

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)

In [ ]:
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Increase 'Salary' by 10,000:

In [ ]:
df['Salary'] = df['Salary'].apply(lambda x:x+10000)
df

      Name  Age  Salary
0    Alice   25   60000
1      Bob   30   70000
2  Charlie   35   80000

Convert 'Name' to uppercase:

In [ ]:
df['Name'] = df['Name'].apply(lambda x:x.upper())
df

      Name  Age  Salary
0    ALICE   25   60000
1      BOB   30   70000
2  CHARLIE   35   80000

Calculate net worth:

In [ ]:
def net_worth(row):
  salary = row['Salary']
  tax = 0.1*salary
  return salary - tax


df['NetWorth'] = df.apply(net_worth,axis = 1)

In [ ]:
df

      Name  Age  Salary  NetWorth
0    ALICE   25   60000   54000.0
1      BOB   30   70000   63000.0
2  CHARLIE   35   80000   72000.0

In [ ]:
def cat(Salary):
  if Salary > 60000:
    return 'Civil'
  if Salary > 70000:
    return 'IT'

df['Categories'] = df['Salary'].apply(cat)

In [ ]:
df

      Name  Age  Salary  NetWorth Categories
0    ALICE   25   60000   54000.0       None
1      BOB   30   70000   63000.0      Civil
2  CHARLIE   35   80000   72000.0      Civil

In [ ]:
def categorize_age(age):
    if age < 30:
        return 'Young'
    else:
        return 'Old'

df['Age Category'] = df['Age'].apply(categorize_age)

In [ ]:
df

      Name  Age  Salary  NetWorth Categories Age Category
0    ALICE   25   60000   54000.0       None        Young
1      BOB   30   70000   63000.0      Civil          Old
2  CHARLIE   35   80000   72000.0      Civil          Old

# Numpy

In [ ]:
import numpy as np

In [ ]:
#create array from list- 1D Prime no array
prime_array=np.array([2,3,5,7,11])
print(prime_array)

[ 2  3  5  7 11]

In [ ]:
#check data type of prime_array
type(prime_array)

numpy.ndarray

In [ ]:
#2D array
two_D = np.array([[1,2,3],[4,5,6]])
print(two_D)

[[1 2 3]
 [4 5 6]]

In [ ]:
two_D

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
two_D.shape

(2, 3)

In [ ]:
#create 3D array
three_D = np.array([[[1,2,3],[4,5,6],[7,8,9]]])
print(three_D)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]]

In [ ]:
three_D.shape

(1, 3, 3)

Array Inspection

In [ ]:
three_D

In [ ]:
#ndarray.shape
three_D.shape     #(no of array, row, column)
                  #(diamensions-1,nos,innernos)

(1, 3, 3)

In [ ]:
two_D.shape

In [ ]:
#ndarray.ndin -- returns no of array dimensions
three_D.ndim

3

In [ ]:
two_D.ndim

In [ ]:
#ndarray.size -- total no of elements in array
three_D.size

In [ ]:
two_D.size

In [ ]:
#ndarray.dtype---check data type of array
three_D.dtype

In [ ]:
two_D.dtype

In [ ]:
#ndarray.astype----To change data type of array
three_D=three_D.astype('float')

three_D.dtype

dtype('float64')

Different Way of Creating Array

In [ ]:
#Array with specified shape
uninitialized_array= np.empty([5,3],dtype=int)
print(uninitialized_array)

[[    133453516176720     133453516176720                   0]
 [                  0      97822175133696 8319683848551211643]
 [3180222411935070754 8391722768137527840 7959390389040738153]
 [3184944565236408948 7304682900672553504 8028074750225051768]
 [3205853888102167406 7020949612675473952                 128]]

In [ ]:
#initializing with zeros
zeros_array = np.zeros((5,3)) #default data type float
other_zero_array = np.zeros((4,3),dtype = int)
print(zeros_array)
print(other_zero_array)

In [ ]:
#initializing with zeros
ones_array = np.ones((5,3)) #default data type float
other_ones_array = np.ones((4,3),dtype = int)
print(ones_array)
print(other_ones_array)

Array with range

In [ ]:
A = np.arange(10)
print(A)

In [ ]:
B = np.arange(1,20,2) #(start,stop,step,dtpe)
B

In [ ]:
# to get values in even space

A = np.linspace(10,20,9 , endpoint = False, retstep = True)
A

Array from random Nums

In [ ]:
A = np.random.random((4,5))
print(A)

In [ ]:
B = np.random.randint(0,5,size=(2,3,4))
print(B)

Array with specified num

In [ ]:
a = np.full((3,3),30)   #---np.full(shape,value)
print(a)

In [ ]:
a = np.ones((3,3))*30
print(a)

In [ ]:
#identity matrix

A = np.identity(3)
print(A)

Create Array from existing data.

In [ ]:
# Convert list to array

list1 = [1,2,3,4,5]
array_for_list = np.asarray(list1)
list1

In [ ]:
tuple1 = (1,2,3,4)
array_for_tuple = np.asarray(tuple1)
tuple1

Indexing & Slicing

In [ ]:
a = np.arange(10)
print(a)
print(a[5])

In [ ]:
a[2:8]

In [ ]:
a =np.random.random(10)
print(a)
print(a[::2])

In [ ]:
# when certain parameters are unspecified
a = np.arange(10)
print(a[:6:2]) # starting index is unspecified (default = 0)
print(a[1::2]) # ending index is unspecified (default = array size)
print(a[1:6:]) # steps is unspecified (default = 1)

Slicing- 2D Array

In [ ]:
a = np.array([[1,2,3],[4,5,6]])  # 0,1st row & 0,1,2nd column
print(a)
print(a[1,2])

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)
print(a[0:2])
print(a[0:2,-2:])

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
a

In [ ]:
#getting 1st row
print(a[0:1,:])

In [ ]:
#getting 1st column
print(a[:,0:1])

Slicing 3D Array

In [ ]:
# For 3-D array slicing the format is array[index,row,column]
a = np.array([[[1,2],[3,4],[5,6]],
             [[7,8],[9,10],[11,12]],
             [[13,14],[15,16],[17,18]]])
print(a)
print(a[0:2])
# print(a[0:2,1:])
print(a[0:2,1:,1:])

Array Manipulation

In [ ]:
A = np.array(np.random.randint(10,45,(8,2))) #randint take size random not, randint take two nos random take 2
print(A)
print(A.shape)

In [ ]:
tranA= np.transpose(A)
print(tranA)

In [ ]:
#np.reshape
A = np.array(np.random.randint(10,45,(3,8))) # 2D
print(A)

newshape=(2,6,2)
new_shape = np.reshape(A,newshape)
print(new_shape)   #multiplication should be same of elements

In [ ]:
# Lets take an example of a list
a = [1,2,3]
b = a
b[0] = 10
print(b)
print(a)

In [ ]:
# Lets use the copy method
a = [1,2,3]
b = a.copy()
b[0] = 10
print(b)
print(a)

Basic operations & functions

In [ ]:
#np.add()
np.arange(3)+5  #0+5,1+5,2+5

In [ ]:
np.ones((3,3)) + np.arange(3)

In [ ]:
np.arange(3).reshape((3,1)) + np.arange(3)

In [ ]:
#Example 2
a=np.random.randint(2,6,(2,4))
print(a)
b=np.random.randint(1,10,(2,2))
print(b)

In [ ]:
np.add(a,b)

In [ ]:
a=np.random.randint(2,6,(2,4))
print(a)
b=np.random.randint(0,5,(2,4))
print(b)

In [ ]:
np.multiply(a,b)

In [ ]:
a=np.random.randint(5,9,(2,4))
print(a)

In [ ]:
print(np.sum(a))
print(np.sum(a,axis=0))
print(np.sum(a,axis=1))

In [ ]:
# Calculate minimum
print(np.min(a))
print(np.min(a,axis=2)) # Across Column

In [ ]:
# Sort the array
a=np.random.randint(0,20,(3,3))
print(a)

In [ ]:
print(np.sort(a,axis=0)) # Ascending

In [ ]:
print(np.sort(a,axis=1))

In [ ]:
print(-np.sort(-a,axis=1)) # Descending

In [ ]:
sum(np.arange(3)*np.arange(3).transpose())

# Recursion

In [ ]:
def multipy(a,b):

  result = 0

  for i in range(b):
    result = result + a

  print(result)

multipy(5,2)

In [ ]:
#same code using recursion

def mul(a,b):
  if b == 1:
    return a
  else:
    return a+mul(a,b-1)

print(mul(5,2))

In [ ]:
def fact(num):
  if num == 1:
    return 1
  else:
    #5=5*4
    return num*fact(num-1)
print(fact(5))

In [ ]:
#Palindrome
def palin(text):
  if len(text) <= 1:
    print('palindrome')
  else:
    if text[0] == text[-1]:
      palin(text[1:-1])
    else:
      print('Not pali')


print(palin('madam'))

In [ ]:
#fibonacci

def fib(m):
  if m==0 or m==1:
    return 1
  else:
    return fib(m-1)+fib(m-2)
print(fib(12))

In [ ]:
import time


def fib(m):
  if m==0 or m==1:
    return 1
  else:
    return fib(m-1)+fib(m-2)
print(fib(18))

start = time.time()
print(fib(5))

print(time.time()-start)

# Special Function

In [ ]:
# Define a list of strings representing numbers
numbers = ['1.5', '2.7', '3.2']

# Use map() to convert each string to a float
converted_numbers = list(map(float, numbers))

print(converted_numbers)

[1.5, 2.7, 3.2]

In [ ]:
num = 28
divisors_sum = 0

for i in range(1, num):
    if num % i == 0:
        divisors_sum += i

if divisors_sum == num:
    print("is a perfect number")
else:
    print("is not a perfect number")

In [ ]:
# Sample function to double a number
def double(x):
    return x * 2

# Sample list of numbers
numbers = [1, 2, 3, 4, 5]

# Using map() to apply the 'double' function to each element of 'numbers'
doubled_numbers = map(double, numbers)

# Converting the result to a list
doubled_numbers_list = list(doubled_numbers)

print(doubled_numbers_list)

[2, 4, 6, 8, 10]

In [ ]:
def insert_string_in_middle(original_string, insert_string):
    middle_index = len(original_string) // 2
    return original_string[:middle_index] + insert_string + original_string[middle_index:]

original_string = "[[]]"
insert_string = "Python"

result = insert_string_in_middle(original_string, insert_string)
print(result)

In [ ]:

def insert_string_in_middle(original_string, insert_string):
    middle_index = len(original_string) // 2
    return original_string[:middle_index] + insert_string + original_string[middle_index:]

# User input
original_string = input("Enter the original string: ")
insert_string = input("Enter the string to insert: ")

result = insert_string_in_middle(original_string, insert_string)
print("Result:", result)

# Basic IMP Codes

### No is prime or not

In [ ]:
def is_prime(number):
    if number <= 1:
        return False

    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False

    return True

# Test the function
num_to_check = 25  # Change this number to check for other values
if is_prime(num_to_check):
    print(f"{num_to_check} is a prime number.")
else:
    print(f"{num_to_check} is not a prime number.")

25 is not a prime number.

### Find Factorial of No

In [ ]:
num=int(input("Enter No here"))

fact=1

if num < 0:
  print("Factorial doent exist")
if num == 0:
  print ("Factorial of 0 is",1)
if num> 0:
  for i in range (1,num+1):
    fact = fact*i
print("Factorial of given no is", fact)

Enter No here5
Factorial of given no is 120

### Fibonacci Sequence

In [ ]:
a=0
b=1
num=int(input("Enter No here"))
if num == 0:
  print(a)
else:
  print(a)
  print(b)
  for i in range (1,num+1):
    c = a+b
    a = b
    b = c
    print(c)

Enter No here10
0
1
1
2
3
5
8
13
21
34
55
89

### Armstrong Number

In [ ]:
num=int(input("Enter No here"))
order = len(str(num))

sum=0
temp= num

while  temp > 0:
  digit = temp%10
  sum += digit**order
  temp //=10

if sum == num:
  print("It is a armstrong no ")
else:
  print("It is NOT a armstrong no ")

Enter No here125
It is NOT a armstrong no

### Find HCF or GCD

In [ ]:
def findHCF(x,y):
    if x > y:
        smaller= y
    else:
        smaller = x
    for i in range (1,smaller+1):
        if ((x % i==0) and (y % i==0)):
            hcf= i
    return hcf

print("HCF of given no is: ", findHCF(12,30))

HCF of given no is:  6

### Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
a =int(input())

for i in range(0,a+1):
  print(i*'*')

for i in range(a,0,-1):
  print(i*'*')

5

*
**
***
****
*****
*****
****
***
**
*

### Reverse Words

In [ ]:
a= input()
list1= a.split(' ')
list2= []
for i in list1:
  list2.append(i[::-1])
output = ' '.join(list2)
print(output)

ranjjit gahdge
tijjnar egdhag

### String Palindrome

In [ ]:
string = input()

if string == string[: :-1]:
    print('String is a Palindrome')
else:
    print('String is not a Palindrome')

opo
String is a Palindrome

### Pattern:- 1

In [1]:
n = 5

for i in range(n):
  for j in range(i,n):
     print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')

  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [2]:
n = 5

for i in range(n+1):
  for j in range(i):
    print('*', end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

1. Write a python program to print following star pattern:

In [ ]:
n=5
for i in range(n):
   for j in range(n):
      print('*', end=' ')
   print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
n = 5

for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [5]:
n = 5

for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i):
    print(' ',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [6]:
n = 5

for i in range(n):
  for j in range(i):
    print(' ',end = ' ')
  for j in range(n-i):
    print('*',end=' ')
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [7]:
n = 5

for i in range(n):
  for j in range(i,n):
    print(' ',end= ' ')
  for j in range(i):
    print('*',end= ' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n = 5